.DS_Store
/node_modules
/dist
/src_gen
/src_vulcanize
*.deps.js
.tmp
/src/generated_libs
/src/interventions/interventions.yaml
/src/components/components.html
/src/components_skate/components_skate.js
/node_modules_custom/**/node_modules
