<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="abtest-view">
  <template>
    <style>
      .card-content {
        font-size: 20px;
      }

      .open-intervention-editor-button {
        color: white;
        background-color: #415D67;
        border-radius: 10px;
        font-size: 20px;
        text-transform: none;
        -webkit-font-smoothing: subpixel-antialiased;
      }
    </style>
    You have the following a/b test conditions
  </template>
  <script src="abtest-view.js"></script>
</dom-module>
