<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">


<dom-module id="action-dropdown">
  <template>
  <!--<style is="custom-style">
  </style> -->
 
    <paper-dropdown-menu style="display: inline-block; padding-left: 5px; max-width: 230px; width: 230px;" label="{{label}}">
      <paper-listbox class="dropdown-content" style="width: 230px" selected="0"> 
        <template is="dom-repeat" items="{{callstoaction}}" as="call_to_action">
          <paper-item>{{call_to_action}}</paper-item>
        </template>
      </paper-listbox>
    </paper-dropdown-menu>
  <paper-menu-button>
    <paper-icon-button icon="menu" slot="dropdown-trigger"></paper-icon-button>
    <paper-listbox slot="dropdown-content">
      <paper-item>Share</paper-item>
      <paper-item>Settings</paper-item>
      <paper-item>Help</paper-item>
    </paper-listbox>
  </paper-menu-button>



  </template>
  <script src="action-dropdown.js"></script>
</dom-module>