<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="advanced-features">
  <template>
    <style>
      .card-content {
        font-size: 20px;
      }

      .open-intervention-editor-button {
        color: white;
        background-color: #415D67;
        border-radius: 10px;
        font-size: 20px;
        text-transform: none;
        -webkit-font-smoothing: subpixel-antialiased;
      }
    </style>
    <div class="card-content">
      <div>If you know how to <a target="_blank" href="https://www.javascript.com/" style="color: black; text-decoration: underline;">write code in JavaScript</a>, you can <a target="_blank"
          href="index.html?tag=intervention-editor" style="color: black; text-decoration: underline;">write your own nudges</a> in the nudge editor</div>
      <div style="height: 12px"></div>
      <paper-button class="open-intervention-editor-button" on-click="open_intervention_editor">Open Nudge Editor</paper-button>
    </div>
  </template>
  <script src="advanced-features.js"></script>
</dom-module>