<link rel="import" href="../bower_components/chart-elements/chart-doughnut.html">
<link rel="import" href="../bower_components/chart-elements/chart-bar.html">
<link rel="import" href="../bower_components/chart-elements/chart-horizontal-bar.html">
<link rel="import" href="../bower_components/chart-elements/chart-line.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="site-goal-view.html">

<dom-module id="badges-view">
  <style>
    :host {
      display: block;
      width: 100%;
      height: 100%;
    }
  </style>

  <template>
    <div id="badges_display"></div>
  </template>

  <script src="badges-view.js"></script>
</dom-module>
