<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="reward-display.html">
<link rel="import" href="number-count-up.html">
<link rel="import" href="star-display.html">

<dom-module id="badge-earned-timesaved">
  <style>
    :host {
      position: fixed;
      top: 0%;
      left: 0%;
      opacity: 1;
      width: 100vw;
      height: 100vh;
      background-color: black;
      color: white;
      z-index: 9007199254740991; /* Number.MAX_SAFE_INTEGER */
    }
    .fullscreen_message {
      width: 100vw;
      text-align: center;
      font-size: 40px;
    }
    .badge_img {
      height: 300px;
    }
  </style>
  <template>
    <div class="fullscreen_message">
      <span>Badge Unlocked: <span>{{badge_details.name}}</span></span>
      <br>
      <img class="badge_img" src="{{badge_details.img_url}}"></img>
      <br>
      You've saved
      <br><span style="font-size: 80px"><span>{{badge_details.minutes_saved}}</span> minutes</span><br>
      total with HabitLab!
      <br><br>
      <span>{{badge_details.message}}</span>
    </div>
  </template>
  <script src="badge-earned-timesaved.js"></script>
</dom-module>
