<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymer-themes/ice.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="habitlab-logo-v2.html">
<link rel="import" href="goal-progress-message.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-time-picker/paper-time-picker.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="call-to-action-button.html">

<dom-module id="banner-netflix-screen">
  <template>
    <style>
       :host {
        /*position: fixed;
        display: block;
        bottom: 0%;
        left: 0%;
        */
        width: 300px;
        height: 300px;
        background-color: #f2fcff;
        opacity: 1;
        z-index: 9007199254740991;
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      }

      #sample_toast {
        width: 350px;
        height: 350px;
        z-index: 9007199254740991;
        background-color: aliceblue;
        color: black;
      }

      .contentContainer {
        margin-top: 10px;
      }

      .titleText {

        font-size: 0.75em;
        text-align: center;
      }

      #messagetext {
        font-size: 0.75em;
        text-align: center;
      }

      .whiteDiv {
        /*position: fixed;
        display: flex;
        flex-direction: column;
        bottom: 0%;
        left: 0%;*/
        width: 300px;
        height: 300 px;
        background-color: #f2fcff;
        opacity: 1;
        z-index: 9007199254740991;
      }

      .okButton {
        cursor: pointer;
        padding: 5px;
        background-color: #415D67;
        color: white;
        font-size: 10px;
      }

      .closeTabButton {
        cursor: pointer;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 10px;
      }

      #logo {

        padding-bottom: 10px;
      }

      .message-block {
        padding-top: 10px;
        align-self: center;
      }

      #paperprogress {
        display: none;
        margin-bottom: 5px;
      }

      #question {
        color: black;
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        /*font-weight: 250;*/
      }

      #fact {
        color: black;
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      }

      #fact-box {
        background-color: #E6E6FA;
        margin-right: 10px;
        margin-left: 10px;
        padding: 2px;
      }

      #link {
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      }
    </style>
    <!----><paper-toast id="sample_toast" text="" duration="0" vertical-align="top" horizontal-align="right" opened><!---->
    <div class="whiteDiv">

      <template is="dom-if" if="{{show_netflix_message}}">
        <netflix-articles class="message-block"></netflix-articles>
      </template>

      <!--<div class="contentContainer">-->
        <div id="fact-box">
          <center>
            <p id="question"> Did you Know? </p>
          </center>
          <center>
            <p id="fact"> {{fact_info.text}} </p>
          </center>
          <center><a href="{{fact_info.link}}" id="link"> Read the full article here! </a> </center>
          <p></p>
        </div>
        <p></p>

        <center>
          <habitlab-logo-v2 id="logo"></habitlab-logo-v2>
          <center>
            <div id="titletext" class="titleText"></div>
            <div id="messagetext"></div>
            <p>
              <p>
                <center>
                  <paper-progress id="paperprogress"></paper-progress>
                </center>
                <center>
                  <call-to-action-button id="closetabbutton" class="closeTabButton"></call-to-action-button>
                </center>
                <center>
                  <paper-button id="okbutton" class="okButton" on-click="buttonclicked">default</paper-button>
                </center>
              </center>
        </center>
      <!--</div>-->
    </div>

  <!----></paper-toast><!---->
  </template>

  <script src="banner-netflix-screen.js"></script>

</dom-module>