<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="call-to-action-button">
  <template>
    <style>
       :host {
        display: var(--call-to-action-button-display, inline-block);
        min-height: var(--call-to-action-button-min-height, 38px);
        width: var(--call-to-action-button-width);
        margin: var(--call-to-action-button-margin, 0px 0px 0px 0px);
      }

      .call-to-action-button {
        cursor: pointer;
        color: var(--call-to-action-button-color, white);
        /*font-size: var(--call-to-action-button-font-size, 14px);*/
        background-color: var(--call-to-action-button-bg-color, #415D67);
        /* background-color: var(--call-to-action-button-bg-color, rgb(0,155,55)); */
        margin: 0 auto;
        width: 100%;
        height: 100%;
        box-shadow: var(--call-to-action-button-shadow, 2px 2px 2px #888888);
      }
    </style>
    <paper-button class="call-to-action-button" on-click="buttonClicked">{{buttonText}}</paper-button>
  </template>

  <script src="call-to-action-button.js"></script>
</dom-module>