<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="close-tab-button">
  <template>
    <style>
       :host {
        display: var(--call-to-action-button-display, inline-block);
        height: var(--call-to-action-button-height, 38px);
        width: var(--call-to-action-button-width);
        margin: var(--call-to-action-button-margin, 0px 0px 0px 0px);
      }

      .close_tab_button {
        cursor: pointer;
        color: var(--call-to-action-button-color, white);
        font-size: var(--call-to-action-button-font-size, 14px);
        background-color: var(--call-to-action-button-bg-color, #415D67);
        margin: 0 auto;
        width: 100%;
        height: 100%;
        box-shadow: var(--call-to-action-button-shadow, 2px 2px 2px #888888);
      }
    </style>
    <paper-button class="close_tab_button" on-click="button_clicked">{{buttontext}}</paper-button>
  </template>

  <script src="close-tab-button.js"></script>
</dom-module>