<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="reward-display.html">

<dom-module id="close-tab-button">
  <style>
    :host {
      display: inline-block;
    }
    .close_tab_button {
      color: white;
      background-color: #2EB800;
    }
  </style>
  <template>
    
    <reward-display id="reward_display"></reward-display>
    <paper-button style="height: 100%" class="close_tab_button" on-click="button_clicked">{{text}}</paper-button>

  </template>

  <script src="close-tab-button.js"></script>
</dom-module>
