<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="feedback-button.html">

<dom-module id="create-intervention-dialog">
  <template>
    <style>
      .button {
        color: white;
        background-color: #50E3C2;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 30px;
        box-shadow: 2px 2px 2px #888888;
        font-weight: bold;
      }
    </style>

    <paper-dialog id="create_new_intervention_dialog" with-backdrop style="z-index: 9007199254740991;">
      <paper-dropdown-menu style="width: 300px" label="Goal">
        <paper-listbox id="goal_selector" class="dropdown-content" on-iron-select="goal_selector_changed" selected="0">
          <template is="dom-repeat" items="{{goal_info_list}}" as="goal_info">
            <paper-item goal_info="{{goal_info}}">{{goal_info.description}}</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu>
      <paper-input id="intervention_description" label="Intervention Description" value="Describe your intervention here"></paper-input>
      <template is="dom-if" if="{{is_edit_mode}}">
        <paper-input id="preview_url" label="Preview url" value="{{preview_url}}"></paper-input>
      </template>
      <paper-input id="intervention_name" label="Intervention Name" value="{{proposed_intervention_name}}"></paper-input>
      <em id="hint" style="color:red;"></em><br>
      <paper-button id="dialog_button" on-click="validate_intervention_name" class="button">Add</paper-button>
    </paper-dialog>

    <paper-dialog id="open_existing_custom_intervention" with-backdrop style="z-index: 9007;">
      <paper-dropdown-menu style="margin-top: 0px; width: 300px" label="Select a custom intervention">
        <paper-listbox id="intervention_selector" class="dropdown-content" selected="0">
          <template is="dom-repeat" items="{{intervention_list}}" as="intervention_name">
            <paper-item intervention_name="{{intervention_name}}">{{intervention_name}}</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu>
      <paper-button id="open_button" on-click="open_intervention_clicked" class="button">Open</paper-button>
    </paper-dialog>

  </template>
  <script src="create-intervention-dialog.js"></script>
</dom-module>