<link rel="import" href="../bower_components/chart-elements/chart-doughnut.html">
<link rel="import" href="../bower_components/chart-elements/chart-bar.html">
<link rel="import" href="../bower_components/chart-elements/chart-horizontal-bar.html">
<link rel="import" href="../bower_components/chart-elements/chart-line.html">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<link rel="import" href="site-goal-view.html">

<dom-module id="dashboard-view">
  <style>
    :host {
      display: block;
      width: 100%;
      height: 100%;
    }
    .container {
      text-align: center;
      font-family: 'Open Sans', sans-serif;      
    }
    .title {
      font-size: 3em;
      margin-top: 0.3em;
      font-family: 'Open Sans', sans-serif;
    }
    .description {
      font-size: 2em;
      margin-top: 1.2em;
      font-family: 'Open Sans', sans-serif;
    }
    .buttons {
      text-align: center;
      padding-top: 3em;
      padding-bottom: 3em;
    }
    button {
      position: absolute;
      left: 50%;
      cursor: pointer;
      transform: translateX(-50%) translateY(-50%);
      font-size: 1em;
    }
  </style>
  <template>

    <div class="container">
      <div class="title">HabitLab Analytics</div>


      <div class="description">Time Saved Daily Due to Interventions (In Minutes)</div>
      <chart-horizontal-bar data="[[timeSavedData]]" options="[[timeSavedOptions]]" style="width: 500px"></chart-horizontal-bar>

      <div class="description">Your Goals</div>
      <center>
        <paper-tabs id="graphsOfGoalsTab" style="width: 500px;" selected={{selected}}>
          
          <template is="dom-repeat" items="{{sites}}" as="site">
            <paper-tab>{{site}}</paper-tab>
          </template>
          <paper-tab>overview</paper-tab>
        </paper-tabs>
      </center>

      <iron-pages selected={{selected}}>
        <template is="dom-repeat" items="{{sites}}" as="site">
          <div><site-goal-view site="{{site}}"></site-goal-view></div>
        </template>
        <div>
          <h2>Daily Overview</h2>
          <chart-horizontal-bar data="[[goalOverviewData]]" style="width: 500px"></chart-horizontal-bar>
        </div>
        
      </iron-pages>


      <div class="description">Time Spent on 5 Most Visited Websites (In Minutes)</div>   
      <chart-doughnut data="[[donutdata]]" style="width: 600px"></chart-doughnut>      
      <div class="buttons"><button class="timeSpentButton" value="neverClicked" on-click="timeSpentButtonAction">Compare with Yesterday</button></div>


      <div class="description">Number of Times Your Active Interventions Were Deployed Today</div>
      <chart-horizontal-bar data="[[interventionFreqData]]" options="[[interventionFreqOptions]]" style="width: 500px"></chart-horizontal-bar>
      <!--
      <div class="buttons"><button class="interventionFreqButton" value="neverClicked" on-click="interventionFreqButtonAction">Compare with Yesterday</button></div>
      -->

    </div>


  </template>
  <script src="dashboard-view.js"></script>
</dom-module>
