<link rel="import" href="../bower_components/chart-elements/chart-doughnut.html">
<link rel="import" href="../bower_components/chart-elements/chart-bar.html">
<link rel="import" href="../bower_components/chart-elements/chart-horizontal-bar.html">
<link rel="import" href="../bower_components/chart-elements/chart-line.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="site-goal-view.html">
<link rel="import" href="badges-view.html">
<link rel="import" href="graph-chrome-history.html">
<link rel="import" href="graph-time-saved-daily.html">
<link rel="import" href="graph-daily-overview.html">
<link rel="import" href="graph-num-times-interventions-deployed.html">
<link rel="import" href="graph-donut-top-sites.html">

<dom-module id="dashboard-view">
  <style>
    :host {
      display: block;
      width: 100%;
      height: 100%;
    }
    .container {
      text-align: center;
    }
    .title {
      font-size: 3em;
      margin-top: 0.3em;
    }
    .description {
      font-size: 2.2em;
      margin-top: 0.8em;
    }
    .buttons {
      text-align: center;
      padding-top: 3em;
      padding-bottom: 3em;
    }
    button {
      position: absolute;
      left: 50%;
      cursor: pointer;
      transform: translateX(-50%) translateY(-50%);
      font-size: 1em;
    }
    hr {
      margin-top: 2em;
    }
  </style>
  <template>

    <div class="container">
      <div id="encouragement" class="title">Good job so far!</div>
      <div class="title">HabitLab Analytics</div>
    
      <div class="description">How much time do I spend on my goal websites on average each day?</div>    
      <graph-chrome-history></graph-chrome-history>

      <hr>

      <div class="description">How much time did I save due to my interventions?</div>
      <graph-time-saved-daily></graph-time-saved-daily>

      <hr>

      <div class="description">What progress have I made towards my goals?</div>
      <center>
        <paper-tabs id="graphsOfGoalsTab" style="width: 500px;" selected={{selected}}>          
          <template is="dom-repeat" items="{{sites}}" as="site">
            <paper-tab>{{site}}</paper-tab>
          </template>
          <paper-tab>overview</paper-tab>
        </paper-tabs>
      </center>

      <iron-pages selected={{selected}}>
        <template is="dom-repeat" items="{{sites}}" as="site">
          <div><site-goal-view site="{{site}}"></site-goal-view></div>
        </template>
        <div>
          <h4>My Daily Overview</h4>
          <graph-daily-overview></graph-daily-overview>
        </div>
      </iron-pages>

      <hr>

      <!-- Uncomment when badges are implemented -->
      
      <!--
      <div class="description">Which badges have I earned?</div>
      <badges-view></badges-view>
      <hr>
      -->

      <div class="description">How many times were my interventions deployed today?</div>
      <graph-num-times-interventions-deployed></graph-num-times-interventions-deployed>

      <hr>

      <div class="description">How much time did I spend on my most visited websites?</div>   
      <graph-donut-top-sites></graph-donut-top-sites>

    </div>


  </template>
  <script src="dashboard-view.js"></script>
</dom-module>
