<link rel="import" href="../bower_components/chart-elements/chart-doughnut.html">
<link rel="import" href="../bower_components/chart-elements/chart-bar.html">
<link rel="import" href="../bower_components/chart-elements/chart-horizontal-bar.html">
<link rel="import" href="../bower_components/chart-elements/chart-line.html">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<!-- https://robdodson.github.io/chart-elements/components/chart-elements/ -->

<dom-module id="dashboard-view">
  <style>
    :host {
      display: block;
      width: 100%;
      height: 100%;
    }
    .container {
      text-align: center;
    }
    .title {
      font-size: 3em;
      padding-bottom: 0.5em;
      font-family: 'Open Sans', sans-serif;
      padding-top: 0.3em;
    }
    .description {
      font-size: 1.8em;
      font-family: 'Open Sans', sans-serif;
    }
    chart-bar {
      padding-top: 0.5em;
    }
    .buttons {
      text-align: center;
      padding-top: 3em;
      padding-bottom: 3em;
    }
    button {
      position: absolute;
      left: 50%;
      cursor: pointer;
      transform: translateX(-50%) translateY(-50%);
      font-size: 1em;
    }
  </style>
  <template>

    <div class="container">
      <div class="title">HabitLab Analytics</div>

      <!--
      <chart-line id="linechart" data="[[linedata]]"></chart-line>
      -->

      <div class="description">Time Spent on 5 Most Visited Websites (In Minutes)</div>   
      <chart-doughnut data="[[donutdata]]" style="width: 600px"></chart-doughnut>      
      <div class="buttons"><button class="button2" value="neverClicked" on-click="buttonAction2">Compare with Yesterday</button></div>

      <div class="description">Number of Times Your Interventions Were Deployed Today</div>
      <chart-horizontal-bar data="[[bardata]]" style="width: 600px"></chart-horizontal-bar>
      <div class="buttons"><button class="button1" value="neverClicked" on-click="buttonAction1">Compare with Previous Day</button></div>

      <div class="description">Time Saved Daily Due to Interventions (In Minutes)</div>
      <chart-bar data="[[reductionEfficacyData]]" style="width: 600px"></chart-bar>      
      <div class="buttons"><button class="button3" value="neverClicked" on-click="buttonAction3">Compare with Average Efficacy</button></div>

    </div>

  </template>
  <script src="dashboard-view.js"></script>
</dom-module>
