<link rel="import" href="../bower_components/chart-elements/chart-doughnut.html">
<link rel="import" href="../bower_components/chart-elements/chart-bar.html">
<link rel="import" href="../bower_components/chart-elements/chart-horizontal-bar.html">
<link rel="import" href="../bower_components/chart-elements/chart-line.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">

<link rel="import" href="site-goal-view-v2.html">
<link rel="import" href="graph-time-spent-on-goal-sites-daily.html">
<link rel="import" href="graph-time-saved-daily.html">
<link rel="import" href="graph-num-times-interventions-deployed.html">
<link rel="import" href="graph-donut-top-sites.html">
<link rel="import" href="all-badges-earned-display.html">
<link rel="import" href="graph-intervention-effectiveness-comparison.html">

<dom-module id="dashboard-view-v2">
  <template>
    <style>
       :host {
        display: block;
        width: 100%;
        height: 100%;
        --paper-card: {
          width: 100%;
          padding: 20px 20px;
          margin-top: 0px;
        }
        ;
      }

      .container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .title {
        font-size: 38px;
        margin-top: 0.3em;
        margin-bottom: 20px;
      }

      .description {
        font-size: 2.2em;
        margin-top: 0.8em;
      }

      .buttons {
        text-align: center;
        padding-top: 3em;
        padding-bottom: 3em;
      }

      button {
        position: absolute;
        left: 50%;
        cursor: pointer;
        transform: translateX(-50%) translateY(-50%);
        font-size: 1em;
      }

      hr {
        margin-top: 2em;
      }
    </style>
    <div class="container">
      <div class="title" style="color: white ">HabitLab Overview</div>

      <paper-card>
        <div class="card-content">
          <graph-donut-top-sites></graph-donut-top-sites>
        </div>
      </paper-card>

      <paper-card>
        <div class="card-content">
          <graph-time-spent-on-goal-sites-daily></graph-time-spent-on-goal-sites-daily>
        </div>
      </paper-card>

      <paper-card>
        <div class="card-content">
          <paper-tabs id="graphsOfGoalsTab" style="width: 100%;" selected="{{selected_goal_view}}" scrollable>
            <template is="dom-repeat" items="{{site_info_list}}" as="site_info">
              <paper-tab>{{site_info.sitename_printable}}</paper-tab>
            </template>
          </paper-tabs>

          <iron-pages selected="{{selected_goal_view}}">
            <template is="dom-repeat" items="{{site_info_list}}" as="site_info">
              <div>
                <site-goal-view-v2 site="{{site_info.sitename}}"></site-goal-view-v2>
              </div>
            </template>
          </iron-pages>
        </div>
      </paper-card>

      <paper-card>
        <div class="card-content">
          <paper-tabs id="graphsOfInterventionEffectivenessTab" style="width: 100%;" selected="{{selected_intervention_effectiveness_idx}}"
            scrollable>
            <template is="dom-repeat" items="{{site_info_list}}" as="site_info">
              <paper-tab>{{site_info.sitename_printable}}</paper-tab>
            </template>
          </paper-tabs>
          <br>

          <iron-pages selected="{{selected_intervention_effectiveness_idx}}">
            <template is="dom-repeat" items="{{site_info_list}}" as="site_info">
              <div>
                <div style="font-size: 22px; color:#5a5a5a; margin-bottom:10px;">{{site_info.sitename_printable}} Nudge Effectiveness</div>
                <br>
                <graph-intervention-effectiveness-comparison goal_info="{{first_elem(site_info.goals)}}"></graph-intervention-effectiveness-comparison>
              </div>
            </template>
          </iron-pages>
        </div>
      </paper-card>

      <!-- Uncomment when badges are implemented -->

      <!--
      <div class="description">Which badges have I earned?</div>
      <badges-view></badges-view>

      -->
      <!-- For now display all-badges-earned -->
      <paper-card>
        <div class="card-content">
          <all-badges-earned-display></all-badges-earned-display>
        </div>
      </paper-card>

    </div>
    <!-- <div style="margin-bottom: 0px"></div> -->

  </template>
  <script src="dashboard-view-v2.js"></script>
</dom-module>