<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymer-themes/ice.html">

<dom-module id="debug-view">
  <template>
    <style>
       :host {
        display: block;
        width: 100%;
        height: 100%;
      }
    </style>

    <div>This is the debug-view component</div>
    <div>Components are all located under src/components</div>
    <div>They should all be listed in src/components/components.html</div>
    <div>The following components are available:</div>
    <br><br>
    <template is="dom-repeat" items="{{tags_with_info()}}" as="tag_with_info">
      <h1><a href="{{tag_link_url(tag_with_info.is)}}" target="_blank">{{tag_with_info.is}}</a></h1>
      <pre>{{json_stringify(tag_with_info)}}</pre>
    </template>

  </template>
  <script src="debug-view.js"></script>
</dom-module>