<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="habitlab-logo.html">
<link rel="import" href="close-tab-button.html">

<dom-module id="fb-scroll-block-display">
  <style>
    :host {
      
      /*display: table-cell;*/
      
    }
    #container {
      height: 50px;
      background-color: #95CBEE;
      position: fixed;
      color: white;
      width: 100%;
      top: 0px;
      right: 0px;
      z-index: 99999;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #habitlab_logo {
      position: absolute;
      left: 10px;
      top: -5px;
      z-index: 999999;
      margin-top: 10px;
    }

    .text_display {
      font-size: 14px;
      align-content: center;
      text-align: center;
    }
    #close_button {
      position: static;
      height: 34px;
    }
    #continue_scrolling {
      position: static;
      background-color: #415D67;
      color: white;
      height: 34px;
      box-shadow: 2px 2px 2px #888888;
    }
  </style>
  <template>

    <!--
    <paper-icon-button id="id_1" icon="habitlab-iconset:habitlab-icon" alt="heart"></paper-icon-button>
    <paper-tooltip for="id_1" offset="0">&lt;3 &lt;3 &lt;3 </paper-tooltip>
    -->

    <!--git
    <img style="width: 38px; height: 38px" id="habitlab_logo" class="tooltip" src="{{get_url()}}" alt="icon" />
    <paper-tooltip for="habitlab_logo" animation-delay="0">A tooltip</paper-tooltip>
    -->
    <div id="container">
      <div class="text_display" style="color: #415D67; font-size: 20px">You have spent </div>
        <div style="color: #415D67">
        <div style="display: inline-block; margin-left: 20px; margin-right: 20px">
          <div style="font-size: 28px; margin-bottom: -4px">{{minutes}}</div>
          <div>min</div>
        </div>
        <div style="display: inline-block; margin-right: 20px">
          <div style="font-size: 28px; margin-bottom: -4px">{{seconds}}</div>
          <div>sec</div>
        </div>
      </div>
      <div class="text_display" style="color: #415D67; font-size: 20px">on <span>{{site}}</site> </div>
      <habitlab-logo id="habitlab_logo" ></habitlab-logo>
      <div style="position: absolute; right: 10px; top: 7px">
        <close-tab-button id="close_button"></close-tab-button>
        <paper-button id="continue_scrolling" on-click="continue_scrolling">Continue Scrolling</paper-button>
      </div>
    </div>
  </template>
  <script src="fb-scroll-block-display.js"></script>
</dom-module>
