<link rel="import" href="habitlab-logo.html">

<dom-module id="fb-scroll-block-display">
  <style>
    :host {
      
      /*display: table-cell;*/
      
    }
    #container {
      height: 50px;
      background-color: #3498DB;
      position: fixed;
      color: white;
      width: 100%;
      top: 0px;
      right: 0px;
      z-index: 99999;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #habitlab_logo {
      position: absolute;
      left: 10px;
      top: 5px;
      z-index: 999999;
    }
    .text_display {
      font-size: 14px;
      align-content: center;
      text-align: center;
    }
    #close_button {
      position: absolute;
      right: 180px;
      top: 7px;
      z-index: 999999;
      background-color: #8bc34a;
      color: white;
    }
    #continue_scrolling {
      position: absolute;
      right: 10px;
      top: 7px;
      z-index: 999999;
      background-color: red;
      color: white;
    }
  </style>
  <template>

    <!--
    <paper-icon-button id="id_1" icon="habitlab-iconset:habitlab-icon" alt="heart"></paper-icon-button>
    <paper-tooltip for="id_1" offset="0">&lt;3 &lt;3 &lt;3 </paper-tooltip>
    -->

    <!--git
    <img style="width: 38px; height: 38px" id="habitlab_logo" class="tooltip" src="{{get_url()}}" alt="icon" />
    <paper-tooltip for="habitlab_logo" animation-delay="0">A tooltip</paper-tooltip>
    -->
    <div id="container">
      <div class="text_display" >
        You have already spent <span>{{minutes}}</span> minutes on <span>{{site}}</site>.<br>Are you sure you want to continue scrolling?
      </div>
      <habitlab-logo intervention={{intervention}} id="habitlab_logo" ></habitlab-logo>
      <paper-button id="close_button">Close Facebook</paper-button>
      <paper-button id="continue_scrolling" on-click="continue_scrolling">Continue Scrolling</paper-button>
    </div>
  </template>
  <script src="fb-scroll-block-display.js"></script>
</dom-module>
