<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="habitlab-logo.html">


<dom-module id="feed-item-timer-polymer">
  

  <template>

    <style>
      :host {
        
      }
      .container {
        background-color: #3498DB;
        width: 500px;
        height: 300px;
        color: white;
        font-size: 1.5em;
        text-align: center;    
        
        
        display: flex;
        align-items: center;
        
      }

      .habitlab-logo {
        align-self: flex-start;
        
        flex-shrink: 0;
      }

      .timer-text {
        
        padding-right: 38px;
      }

      #grey-space {
        background-color: #e9ebee;
        height: 12px;
        margin-left: -1px;
        margin-right: -1px;

      }
      #shadow {
        height: 1px;
        background-color: #1d2129;
        opacity: 0.2;
      }
    </style>



    
    <div class="container">
      <habitlab-logo class="habitlab-logo"></habitlab-logo><br/>
      <div class=timer-text>You have already spent {{minutes}} minute(s) and {{seconds}} seconds on {{site}}. <br/><br/>
      </div>
    </div>
    <div id="shadow"></div>
    <div id="grey-space"></div>
    
  </template>
  <script src="feed-item-timer-polymer.js"></script>
</dom-module>