<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/gold-email-input/gold-email-input.html">

<dom-module id="feedback-form">
  <style>
    :host {
      display: inline-block;
      height: 38px;
      cursor: pointer;
    }

    #feedback_button {
      width: 38px;
      height: 38px;
    }

  </style>
  <template>

    <paper-dialog id="feedback_dialog" with-backdrop style="z-index: 9007199254740991;">
      <div>

        <div>Thank you for providing your feedback! It will be emailed to us, along with a screenshot of this page, at <a href="mailto:{{mailing_list}}" target="_blank">{{mailing_list}}</a></div>
        <form>
          <paper-textarea label="Your Feedback"></paper-textarea>
          <gold-email-input auto-validate label="Email (optional, include if you want to get a response)" error-message="Please enter a valid email"></gold-email-input>
        </form>

        <paper-checkbox checked="{{submit_to_gitter}}">Post on the HabitLab community forum at <a href="https://gitter.im/habitlab/habitlab" target="_blank">Gitter</a></paper-checkbox><br>
        <paper-checkbox checked="{{submit_to_github}}">Submit to the HabitLab bugtracker at <a href="https://github.com/habitlab/habitlab/issues" target="_blank">GitHub Issues</a></paper-checkbox><br>
        <paper-checkbox checked="{{submit_screenshot}}">Include screenshot of this page</paper-checkbox><br>

        <div class="buttons">
          <paper-button dialog-dismiss>Cancel</paper-button>
          <paper-button on-click="submit_feedback">Submit Feedback</paper-button>
        </div>

      </div>
    </paper-dialog>

  </template>
  <script src="feedback-form.js"></script>
</dom-module>
