<link rel="import" href="../bower_components/chart-elements/chart-doughnut.html">
<link rel="import" href="../bower_components/chart-elements/chart-bar.html">
<link rel="import" href="../bower_components/chart-elements/chart-horizontal-bar.html">
<link rel="import" href="../bower_components/chart-elements/chart-line.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/l2t-star-rating/l2t-star-rating.html">

<dom-module id="feedback-goal-tab">
<style>
:host {
  display: block;
  width: 100%;
  height: 100%;
  --paper-card: {
    width: 90%;
    padding: 10px 20px;
    margin-top: 10px;
  };
}
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 48px;
  margin-top: 0.3em;
  /*font-weight: 200;*/
}
.description {
  font-size: 2.2em;
  margin-top: 0.8em;
}
.buttons {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}
button {
  position: absolute;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1em;
}
hr {
  margin-top: 2em;
}
.paper-card {
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
}
.card-content {
  font-size: 20px;
}

#tab_table {
  width: 100%;
}

.stat {
  border: 1px solid #565555;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
}

#tab {
  width: 100%;
}

paper-button {
  background-color: #1E8CD2;
  border: 4px solid #7AB8D4;
  /*font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  color: #fff;
}

paper-button:hover {
  border: 4px solid #286090;
}

.tab_block {
  border: 4px solid #7AB8D4;
  padding: 5px;
  border-radius: 20px;
}

#description {
  font-size: 24px;
}

#stats {
  font-size: 16px;
  color: #565555;
}

</style>
<template>

  <div class="tab_block">
    <table>
      <tbody>
        <tr>
          <td style="width: 50%;">
            <div id="description">{{custom_feature.name}}</div>
          </td>
          <td style="width: 50%;">
            <div>
              <paper-button style="display: block;">Up {{custom_feature.upvotes}}</paper-button>
              <paper-button style="display: block;">Down {{custom_feature.downvotes}}</paper-button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="margin-bottom: 2px"></div>

</template>
<script src="feedback-goal-tab.js"></script>
</dom-module>
