<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="habitlab-logo.html">
<link rel="import" href="close-tab-button.html">

<dom-module id="feed-item-timer-polymer">
  

  <template>

    <style>
      :host {
        
      }
      .close-button {
        margin-top: 70px;
        box-shadow: 5px 5px 5px #888888;
        height: 50px;
      }

      .container {
        background-color: #95CBEE;
        width: 500px;
        height: 300px;
        color: white;
        font-size: 1.5em;
        text-align: center;    
        
        
        display: flex;
        flex-direction: column;
        align-items: center;
        
      }

      .habitlab-logo {
        align-self: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        
        flex-shrink: 0;
      }

      .timer-text {
        
        padding-top: 20px;
      }

      #grey-space {
        background-color: #e9ebee;
        height: 12px;
        margin-left: -1px;
        margin-right: -1px;

      }
      #shadow {
        height: 1px;
        background-color: #1d2129;
        opacity: 0.2;
      }
    </style>



    
    <div class="container">
      <div class=timer-text>You have already spent {{minutes}} minute(s) and {{seconds}} seconds on {{site}}. <br/><br/>
      </div>
       <close-tab-button class="close-button" on-click="closeTab" text="Close Facebook"></close-tab-button>
       <habitlab-logo class="habitlab-logo"></habitlab-logo>
    </div>
    <div id="shadow"></div>
    <div id="grey-space"></div>
   
    
  </template>
  <script src="feed-item-timer-polymer.js"></script>
</dom-module>
