<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/chart-elements/chart-horizontal-bar.html">

<dom-module id="graph-chrome-history">
  <template>
    <style>
       :host {
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      h4 {
        margin-bottom: 20px;
      }
    </style>
    <div style="font-size: 22px; color:#5a5a5a; margin-bottom:10px;">Time spent on my goal sites</div>
    <chart-horizontal-bar data="[[chromeHistoryData]]" options="[[chromeHistoryOptions]]" style="width: 500px"></chart-horizontal-bar>
  </template>
  <script src="graph-chrome-history.js"></script>
</dom-module>