<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/chart-elements/chart-horizontal-bar.html">

<dom-module id="graph-num-times-interventions-deployed">
  <style>
    :host {
      display: block;
      width: 100%;
      height: 100%;
    }
  </style>
  <template>
    <chart-horizontal-bar data="[[interventionFreqData]]" options="[[interventionFreqOptions]]" style="width: 500px"></chart-horizontal-bar>
  </template>
  <script src="graph-num-times-interventions-deployed.js"></script>
</dom-module>
