<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/chart-elements/chart-horizontal-bar.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="graph-time-saved-daily">
  <template>
    <style>
       :host {
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      h4 {

        margin-bottom: 20px;
      }
    </style>
    <h4>Time saved due to interventions</h4>
    <chart-horizontal-bar data="[[timeSavedData]]" options="[[timeSavedOptions]]" style="width: 600px"></chart-horizontal-bar>
  </template>
  <script src="graph-time-saved-daily.js"></script>
</dom-module>