<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">


<dom-module id="habitlab-logo">
  <style>
    :host {
      display: block;
      /*
      --width: 38px;
      --height: 38px;

      width: var(--width);
      height: var(--height);
      */
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    
    .habitlab_logo_img {
      /*
      width: var(--width);
      height: var(--height);
      */
      width: 50%;
      height: 50%;
    }

    #habitlab_button {
      z-index: 999999;
      background-color: white;

    }
    
  </style>
  <template>
  <paper-button id="habitlab_button" raised>
    <img class="habitlab_logo_img" id="habitlab_logo" class="tooltip" src="{{get_url()}}" alt="icon" />  
    <!--<img class="habitlab_logo_img" id="habitlab_logo" class="tooltip" src="{{get_url()}}" alt="icon" /> 
    <paper-tooltip for="habitlab_button" id="tooltip">This is a HabitLab intervention.<br>Click for options.</paper-tooltip>-->

  </paper-button>
  </template>
  <script src="habitlab-logo.js"></script>
</dom-module>
