<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="help-faq">
  <template>
    <style>
       :host {
        display: block;
        width: 100%;
        height: 100%;
        --paper-card: {
          width: 100%;
          padding: 10px 20px;
          margin-top: 0px;
        }
        ;
      }

      .container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .title {
        font-size: 38px;
        margin-top: 0.3em;
        margin-bottom: 20px;
      }

      .paper-card {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
      }

      .card-content {
        font-size: 20px;
      }
    </style>

    <div class="container">

      <div class="title" style="color: white">Help / FAQ</div>

      <paper-card heading="I have an idea for an intervention or goal!" class="paper-card">
        <div class="card-content">
          <a href="https://www.reddit.com/r/habitlab/" target="_blank">Submit your idea to our idea incubator on Reddit</a> or try implementing it yourself with the
          <a href="index.html?tag=intervention-editor" target="_blank">nudge editor</a>.
        </div>
      </paper-card>

      <paper-card heading="I have feedback / I found a bug!" class="paper-card">
        <div class="card-content">
          <a href="#help" on-click="submit_feedback_clicked">Click here to submit feedback</a> and it will be sent to our
          <a href="https://github.com/habitlab/habitlab/issues">bug tracker</a>.
        </div>
      </paper-card>

      <paper-card heading="I am not seeing any nudges on a page" class="paper-card">
        <div class="card-content">
          Make sure you have set a goal to reduce time spent on that page. You can set goals on the <a on-click="change_tab"
            newtab="settings" href="https://habitlab.github.io/to?q=options#settings">settings tab</a>.
        </div>
      </paper-card>

      <paper-card heading="How do I disable a nudge?" class="paper-card">
        <div class="card-content">
          To disable a nudge for just one visit, click on the <img id="iconimg" src="{{get_icon()}}">in the Chrome toolbar
          when the nudge is active, and press "Turn Off".
          <br><br> To disable a nudge for future visits, go to the tab for the site on which the nudge operates (ie, <a on-click="change_tab"
            newtab="facebook" href="https://habitlab.github.io/to?q=options#facebook">Facebook</a>), and click "Off" next
          to the nudge.
        </div>
      </paper-card>

      <paper-card heading="How do I temporarily disable all nudges?" class="paper-card">
        <div class="card-content">
          You can disable all nudges for the rest of the day by clicking the <img id="iconimg" src="{{get_icon()}}">in the
          Chrome toolbar, and click "Turn Off HabitLab Today".
          <br><br> You can also set HabitLab to only deploy nudges during work hours on the <a on-click="change_tab" newtab="settings"
            href="https://habitlab.github.io/to?q=options#settings">settings tab</a>.
        </div>
      </paper-card>

      <!--
      <paper-card heading="How does HabitLab work?" class="paper-card">
        <div class="card-content">
          HabitLab will help you achieve your goals by showing you a different <i>nudge</i>, like a news feed blocker or a delayed page loader, each time you visit your goal sites.
        </div>
      </paper-card>
      -->

      <paper-card heading="Why do I see a different nudge on each visit?" class="paper-card">
        <div class="card-content">
          HabitLab will help you achieve your goals by showing you a different <i>nudge</i>, like a news feed blocker or
          a delayed page loader, each time you visit your goal sites.
          <br><br> At first, HabitLab will show you a random nudge each visit, and over time it will learn what works most
          effectively for you.
          <!--
          <br><br>
          If you are finding a particular nudge very annoying, you can disable it.
          -->
        </div>
      </paper-card>

      <paper-card heading="How does HabitLab choose which nudges to show me?" class="paper-card">
        <div class="card-content">
          Each visit, HabitLab will test a new nudge and measure how much time you spend on the site. Then it determines the efficacy
          of each nudge by comparing the time spent per visit when that nudge was deployed, compared to when other nudges
          are deployed. HabitLab uses an algorithmic technique called <a href="https://en.wikipedia.org/wiki/Multi-armed_bandit"
            target="_blank">multi-armed-bandit</a> to learn which nudges work best and choose which nudges to deploy, to minimize
          your time wasted online.
        </div>
      </paper-card>

      <paper-card heading="How can I access the dashboard?" class="paper-card">
        <div class="card-content">
          You can access the dashboard and settings page by clicking the <img id="iconimg" src="{{get_icon()}}">in the Chrome
          toolbar, where you also can see progress on your goals.<br><br>
        </div>
      </paper-card>

      <paper-card heading="How can I make a nudge always shown when I visit a page?" class="paper-card">
        <div class="card-content">
          Disable all the other nudges for that site.
        </div>
      </paper-card>

      <paper-card heading="How can I make multiple nudges shown when I visit a page?" class="paper-card">
        <div class="card-content">
          Not currently supported. As a workaround, you can use the <a href="index.html?tag=intervention-editor" target="_blank">nudge editor</a>          to create a new nudge that shows multiple nudges at once.
        </div>
      </paper-card>

      <paper-card heading="My question was not answered / Contact us" class="paper-card">
        <div class="card-content">
          <a href="https://github.com/habitlab/habitlab/issues" target="_blank">Report an issue on Github</a> or <a href="mailto:{{mailing_list}}" target="_blank">email us</a> and we will get back to you!
        </div>
      </paper-card>

    </div>

    <!-- <div style="margin-bottom: 20px"></div> -->

  </template>
  <script src="help-faq.js"></script>
</dom-module>