<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-range-slider/paper-range-slider.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">

<dom-module id="history-time-spent">
  <template>
    <style>
       :host {
        display: block;
        width: 100%;
        height: 100%;
      }
    </style>

    <div>Reconstruction of time spent (based on history)</div>

  </template>
  <script src="history-time-spent.js"></script>
</dom-module>