<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">

<dom-module id="idea-generation-panel">
  <template>
    <style>
        .panel-container {
            color: white;
            font-size: 20px;
            max-width: 900px;
            margin-right: auto;
            margin-left: auto;
            display: block;
            padding-right: 20px;
            padding-left: 20px;
        }
        .question-vote {
            /* background-color:rgb(100, 177, 248); */
            padding: 30px 0;
            border-radius: 7px;
            position: relative;
            display: block;
        }

        .idea-submitter {
            margin-top: 20px;
            /* background-color:rgb(100, 177, 248); */
            padding: 2em 0;
            border-radius: 7px;
            position: relative;
            display: block;
            min-height: 100px;
        }

        .vote-question {
            /* background-color:rgb(100, 177, 248); */
            text-align: center;
            padding: 5px 5px;
            color: rgb(255, 255, 255);
            border-radius: 7px;
            font-size: 30px;
            font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            margin-bottom: 20px;
        }
        h2 {
            display: block;
            font-size: 2em;
            font-weight: bold;
            margin:15px;
        }
        .question-span {
            width: 780px;
            display: block;
            margin-left: 8.54701%;
            width: 82.90598%;
            box-sizing: border-box;
            min-height: 30px;
        }
        .text-span {
            width: 780px;
            display: block;
            margin-left: 8.54701%;
            width: 82.90598%;
            box-sizing: border-box;
            min-height: 80px;
            text-align:left;
        }
        .answers-span{
            margin-left: 0;
            width: 100%;
            margin-top: 0px;
            display: block;
            height: 120px;
            overflow: hidden;
        }
        .answer-leftside-animate {
            margin-top: 0px;
            margin-left: 8.54701%;
            width: 40.17094%;
            display: block;
            height: 120px;
            float: left;
            overflow: hidden;
            z-index: 0;
        }
        .answer-rightside-animate {
            margin-top: 0px;
            width: 40.17094%;
            display: block;
            height: 120px;
            float: left;
            margin-left: 2.5641%;
            overflow: hidden;
            z-index: 0;
        }
        .answer_button {
            border-radius: 10px;
            text-transform: none;
            margin: 0;
            text-align: center;
            background-color: rgb(60, 90, 153);
            font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            height: 120px;
            z-index: 1;
            overflow: hidden;
            width: 100%;
        }

        .animate_left {
            background-color: rgb(60, 90, 153);
        }

        .animate_right {
            background-color: rgb(60, 90, 153);
        }

        .answer-leftside-fix {
            position: absolute;
            width: 40.17094%;
            display: block;
            height: 120px;
            margin-left: 8.54701%;
            overflow: hidden;
            z-index: 1;
        }

        .answer-rightside-fix {
            position: absolute;
            width: 40.17094%;
            display: block;
            height: 120px;
            margin-left: 51.28205%;
            overflow: hidden;
            z-index: 1;
        }

        .opt-out-span {
            margin-left: 0;
            width: 100%;
            margin-top: 20px;
            display: block;
            min-height: 20px;
        }
        .answer-opt-out {
            margin-left: 34.18803%;
            width: 31.62393%;
            display: block;
        }
        .opt_out_button {
            text-transform: none;
            text-align: center;
            background-color: #415D67;
            border-radius: 10px;
            font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            display: block;
        }
        .add_own_idea_button {
            text-transform: none;
            text-align: center;
            background-color: #415D67;
            border-radius: 10px;
            font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            display: block;
        }
        .idea_submit_button {
            text-align: center;
            background-color: rgb(60, 90, 153);
            font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            height: 30px;
            display: block;
        }
        .vote_stats {
            font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            text-align: center;
            color: #666666;
            font-size: 12px;
            clear: both;
            display: block;
            margin: 0 0 10px;
        }
        .idea-submit-span {
            margin-left: 0;
            width: 100%;
            display: block;
            min-height: 30px;
        }
        .idea-submit {
            margin-left: 82%;
            width: 10%;
            display: block;
        }

        .submitideabutton {
            color: white;
            background-color: #415D67;
            font-size: 20px;
            border-radius: 10px;
            padding: 10px;
            text-transform: none;
            -webkit-font-smoothing: subpixel-antialiased;
            text-align: center;
            width: fit-content;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
        }

        #add_idea_dialog {
            width: 600px;
        }

        .idea-box {
            margin: 30px;
            display: block;
            color: black;
            margin-left: auto;
            margin-right: auto;
        }

        .max_votes_reached_card_holder {
            position: absolute;
            top: 80px;
            width: 100%;
            z-index: 98984239;
            
        }

        .max_votes_reached_card {
            margin: 0 auto;
            width: 50%;
            padding: 20px;
        }

        .suggest_idea {
            color: black;
        }

        .card-button {
            border-radius: 10px;
            text-transform: none;
            margin: 0;
            text-align: center;
            background-color: rgb(60, 90, 153);
            font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            overflow: hidden;

        }
    </style>

    <!-- <div style="position: relative">
            <div style="margin-top: 30px;margin-bottom:13px; font-size: 35px;color:white;">Crowdsourced Intervention Idea Generation</div>
            <div style="margin-top: 0px;margin-bottom:15px; font-size: 16px;color:white;">Please select the answer based on your preference.</div>
    </div> -->

    <!-- <paper-dialog id="add_idea_dialog" with-backdrop style="z-index: 9007199254740991;">
        <div style="padding: 30px; width: 540px;">
          <paper-dropdown-menu label="Site which this nudge will be used on" style="width: 540px">
              <paper-listbox selected="0" class="dropdown-content" id="idea_site_selector" style="width: 540px">
                <template is="dom-repeat" items="[[goal_info_list]]" as="goal_info">
                    <paper-item >{{goal_info.sitename_printable}}</paper-item>
                </template>
              </paper-listbox>
          </paper-dropdown-menu>
          <paper-textarea id="nudge_typing_area" autofocus required maxlength="80" placeholder="Describe your idea for a nudge" on-value-changed="user_typing_idea"></paper-textarea>
          <div style="width: 100%">
            <paper-button class="submitideabutton" on-click="submit_idea">Submit your idea</paper-button>
          </div>
        </div>
    </paper-dialog> -->

    <div class="panel-container">
        <div class="question-vote">
            <template is="dom-if" if="{{display_suggest_idea}}">
                <center>
                    <div class="max_votes_reached_card_holder">
                        <paper-card class="max_votes_reached_card">
                            <div class="suggest_idea">
                                Wow, that's a lot of votes! How about helping us out by contributing an idea for a nudge?
                            </div>
                            <br>
                            <paper-button class="card-button" on-click="continue_voting">Continue Voting</paper-button>
                        </paper-card>
                    </div>
                </center>
            </template>
            <div class="question-span">
                <div class="vote-question">Which do you think would be a better nudge for Facebook?</div>
            </div>
            <div class="answers-span">

                <span class="answer-leftside-animate">
                    <paper-button class="answer_button animate_left" id="animate_left_tx" on-click="">
                        A nudge that hides comments from Facebook
                    </paper-button>
                </span>
                <span class="answer-leftside-fix">
                    <paper-button class="answer_button fix_left" id="disable_left" on-click="select_answer_leftside">
                        A nudge that hides comments from Facebook
                    </paper-button>
                </span>

                <span class="answer-rightside-animate">
                    <paper-button class="answer_button animate_right" id="animate_right_tx" on-click="">
                        A nudge that displays the total time you spent on Facebook today
                    </paper-button>
                </span>
                <span class="answer-rightside-fix">
                    <paper-button class="answer_button fix_right" id="disable_right" on-click="select_answer_rightside">
                        A nudge that displays the total time you spent on Facebook today
                    </paper-button>
                </span>

            </div>
            <div class="opt-out-span">
                <span class="answer-opt-out">
                    <paper-button class="opt_out_button" id="disable_opt_out" on-click="select_opt_out">
                        I cannot decide
                    </paper-button>
                </span>
            </div>

            <!-- <div class="opt-out-span">
                <span class="answer-opt-out">
                    <paper-button class="add_own_idea_button" on-click="add_own_idea">
                        Add your own idea
                    </paper-button>
                </span>
            </div> -->

            <paper-card class="idea-box" id="add_idea_dialog">
                <div style="padding: 30px; width: 540px;">
                    Or add your own idea
                    <paper-dropdown-menu label="Site which this nudge will be used on" style="width: 540px">
                        <paper-listbox selected="0" class="dropdown-content" id="idea_site_selector" style="width: 540px">
                          <template is="dom-repeat" items="[[goal_info_list]]" as="goal_info">
                              <paper-item >{{goal_info.sitename_printable}}</paper-item>
                          </template>
                        </paper-listbox>
                    </paper-dropdown-menu>
                    <paper-textarea id="nudge_typing_area" required maxlength="80" placeholder="Describe your idea for a nudge" on-value-changed="user_typing_idea"></paper-textarea>
                    <template is="dom-if" if="{{idea_contribution_money}}">
                      <paper-textarea id="email_typing_area" maxlength="80" label="If we use your idea, we'll send you a $50 Amazon gift card." placeholder="Enter your email (Optional)" on-value-changed="user_typing_idea"></paper-textarea>
                    </template>

                    <div style="width: 100%">
                      <paper-button class="submitideabutton" on-click="submit_idea">Submit your idea</paper-button>
                    </div>
                </div>
            </paper-card>
            
            
            <!-- <p class="vote_stats">
                    <span id="votes_count">92727</span>
                    votes on 
                    <span id="item_count">268</span>
                    ideas
            </p> -->

        </div>
        <!-- <div class="idea-submitter">
            <div class="text-span">
                    <paper-input label="Add your own idea here..." char-counter maxlength="80"></paper-input>
            </div>
            <div class="idea-submit-span">
                <span class="idea-submit">
                    <paper-button class="idea_submit_button">
                        {{msg("Submit")}}
                    </paper-button>
                </span>
            </div>
        </div> -->
    </div>
    
  </template>
  <script src="idea-generation-panel.ls"></script>
</dom-module>