<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">


<dom-module id="initial-goal-selector">
  <style is="custom-style">
    :host {
      --paper-input-container: {
        color:white; 
        sfont-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      
      --paper-icon-button: {
        opacity:0.75;
      }

      };
    
      --paper-item: {
        min-height: 36px;
      };

      --paper-input-container:{
        padding-top: 0px;
        padding-bottom: 0px;
        margin: auto;
        margin-top:0px;
        color: white;
        width: 150px;
        padding-right: 0px;

      };

      --paper-icon-button.unchecked:hover{
        border-radius:3px;
        padding: 2px;

      };

      --paper-icon-button.checked{
        border-radius:3px;
        padding: 2px;
        width:150px; 
        height:150px;
      };
    }

    .dailyLimitContainer {
      margin-top: 2px;
    }
    
    .index_body{ 
      /*rgb(81, 167,249);rgb(147,199,232)*/

      background-color:rgb(81, 167,249);
    }

    .card-content {
      color:white;
      background-color:rgb(81, 167,249);  
      font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
      font-size: 30px;
      padding-bottom: 20px; 
      text-align:center;
      margin:auto;
      padding-right: 30px;
      padding-left: 30px;
      padding-top:30px;
      padding-bottom:30px;
      font-size: 20px;
      text-shadow: 2px 2px 2px #346da3; 
    }


    #title{
      font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
      font-size: 30px;
      padding-top: 30px;
      padding-bottom: 20px; 
      text-align:center;
      font-weight:800;
      text-shadow: 2px 2px 2px #346da3; 
    }
    .flexcontainer { 
      display: flex;
      flex-direction:row;
      align-items: center;
      justify-content:flex-start;
      flex-wrap:wrap;
      flex-flow:row wrap; 
      align-content: center;
    }
    .siteicon{
      cursor: pointer;
      width:130px;
      height:130px;
      margin:auto;
      margin-left:10px; 
      margin-right:10px;
      border-radius:30px;
      padding: 8px;
      box-shadow: 0px 0px 15px #346da3;
      background-color:white ;
    }
    .siteicondisabled {
      opacity: 0.9;
    }
    .siteiconenabled{
      opacity: 1;
      box-shadow: 0px 0px 15px #346da3;
    }
    .siteiconadd {
      color: rgba(255,255,255,0.3);
      background-color: rgba(255,255,255,0.3);
      margin-top:0px;
    }
    .siteicon:hover {
      opacity: 0.5;
    }

  </style>

  <template>
    <!-- <p>HabitLab has suggested these goals based on the websites you regularly use.</p> -->
    <div id="outer_wrapper">
      <!-- <p>If you have a goal that is not specified below, please <a href="#">send us a suggestion</a> </p> -->
      <div class="card-content">
        <span><iron-icon icon="settings" style="width: 27px; height: 27px; margin:auto;margin-bottom: 9.5px;margin-right: 6px; color: white;"></span><span id= "title">{{title}}</span>  
        <div style='font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;margin: auto; font-size: 16px; margin-bottom: 30px; text-align: center; padding-left:65px; padding-right:65px;'><span>{{title_text}}</span> <span style="font-weight: 800">{{title_text_bolded_portion}}</span></div>
        <div class="flexcontainer wrap row">
        <template is="dom-repeat" items="{{sort_custom_sites_after_and_limit_to_eight(sites_and_goals)}}" as="site_and_goals">
            <template is="dom-if" if="{{should_have_newline(index, num_per_line)}}">
              <br/>
            </template>
            <!-- <h3>{{site_and_goals.sitename}}</h3> -->
            <template is="dom-repeat" items="{{site_and_goals.goals}}" as="goal">
              <template is="dom-if" if="{{is_goal_shown(goal)}}">
                <div style="display: inline-block; align-items: center; padding-bottom: 15px;" >

                  <div style="position: relative; top: 12.5px; left: 21px; ">
                    <div style="position: absolute">

                    <template is="dom-if" if="{{goal.enabled}}">
                    <!--<iron-icon icon="check" style="width:100px; height: 100px; margin-left: 10px; color: black; cursor: pointer" on-click="settings_goal_clicked" sitename="{{goal.sitename}}"></iron-icon>-->
                    <img style= "width:30px" on-click="settings_goal_clicked" sitename="{{goal.sitename}}" goal="{{goal}}" src="{{icon_check_url}}"></img>
                    </template>
                    </div>
                  </div>
                  <template is="dom-if" if="{{goal.enabled}}">
                  <img checked="{{goal.enabled}}" goalname="{{goal.name}}" on-click="image_clicked" class="siteicon siteiconenabled" src="{{goal.icon}}" />
                  </template>
                  <template is="dom-if" if="{{!goal.enabled}}">
                  <img checked="{{goal.enabled}}" goalname="{{goal.name}}" on-click="image_clicked" class="siteicon siteicondisabled" src="{{goal.icon}}" />
                  </template>
                  <div style='font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 16px'>{{goal.sitename_printable}}</div>
                  <template is="dom-if" if="{{show_internal_names_of_goals()}}">
                    <span style="font-family: monospace; font-size: 16px">[<span>{{goal.name}}</span>]</span>
                  </template>
                  </template>
                </div>
              </template>
            </template>        
              <div>
             <div class="siteicon siteiconadd" display=flex></div>
             <paper-input id="add_website_input" label="Add custom" style="display: inline-block; width: calc(100%); color: white;" on-keydown="add_website_input_keydown"></paper-input>
             </div>
             
             <!--<paper-input id="add_website_input" label="Add a new website to reduce time spent on (example: www.amazon.com)" style="display: inline-block; width: calc(100%); color: white;" on-keydown="add_website_input_keydown"></paper-input>-->
                  <div style="position: relative; bottom:80.5px; left: 11px; ">
                    <div style="position: absolute">
                    <img style= "width:30px;cursor: pointer; padding-left:0px;margin-left:10px;margin-top:0px;" on-click="add_website_input" src="{{icon_add_url}}"></img>
                    </div>
                  </div>
           <!-- put custom site here-->


          <div><iron-icon icon="help" style="width: 25px; height: 25px; color: #415D67; cursor: pointer" on-click="daily_goal_help_clicked"></iron-icon></div>

          </template>

          
          <div><iron-icon icon="help" style="width: 25px; height: 25px; color: white; cursor: pointer" on-click="daily_goal_help_clicked"></iron-icon></div>
        </div>           
      </div>  
    </div>
  </template>
  <script src="initial-goal-selector.js"></script>
</dom-module>