<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="initial-goal-selector">
  <style is="custom-style">
    :host {
      --paper-input-container-input: {
        font-size: 16px;
        text-indent: 5px;
        padding:0px;
        color: #415D67;
        sfont-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        margin:auto;
        width:100%;
        min-width:200px;
        margin-left: 0px;
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
      };
      --paper-input-container-label: {
        text-align: center;
        color: white;
        font-size: 16px
        text-shadow:2px 2px 2px #346da3; 
        sfont-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 800;
        width:100%;
        margin-left: 0px;
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
      };

      --paper-icon-button: {
        opacity:0.75;
      };
    
      --paper-item: {
        min-height: 36px;
      };


      --paper-input-container:{
        padding-top: 0px;
        padding-bottom: 0px;
        margin: auto;
        margin-top:0px;
        width: calc(100%-100px);
        margin-left: 0px;
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;

      };

      --paper-dialog:{
        margin:auto;
        margin-left:0px;
        padding-left:0px;
        padding-right:0px;
        padding-top:10px;
        padding-bottom:10px;
        margin-top: 10px;
      
      }
      
      #alignedDialog {
        margin: auto;
        padding-left:0px;
        padding-right:0px;
        padding-top:10px; 
        padding-bottom:0px;
        margin-left:0px;
        margin-top: 10px;
        width:320px; 
      }

    }
    

    .dailyLimitContainer {
      margin-top: 2px;
    }
    
    .index_body{ 
      /*rgb(81, 167,249);rgb(147,199,232)*/

      background-color:rgb(81, 167,249);
    }

    .card-content {
      color:white;
      background-color:rgb(81, 167,249);  
      font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
      font-size: 30px;
      padding-bottom: 20px; 
      text-align:center;
      margin:auto;
      padding-right: 30px;
      padding-left: 30px;
      padding-top:30px;
      padding-bottom:30px;
      font-size: 20px;
      text-shadow: 2px 2px 2px #346da3; 
      min-height:calc(100vh - 60px);
    }


    #title{
      font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
      font-size: 30px;
      padding-top: 30px;
      padding-bottom: 20px; 
      text-align:center;
      font-weight:800;
      text-shadow: 2px 2px 2px #346da3; 
    }
    .flexcontainer { 
      display: flex;
      flex-direction:row;
      align-items: center;
      justify-content:flex-start;
      flex-wrap:wrap;
      flex-flow:row wrap; 
      align-content: center;
      padding-bottom: 10px;
    }
    .siteicon{
      cursor: pointer;
      width:130px;
      height:130px;
      margin:auto;
      margin-left:10px; 
      margin-right:10px;
      border-radius:30px;
      padding: 8px;
      box-shadow: 0px 0px 15px #346da3;
      background-color:white ;
    }
    .siteicondisabled {
      opacity: 0.9;
    }
    .siteiconenabled{
      opacity: 1;
      box-shadow: 0px 0px 15px #346da3;
    }
    .siteiconadd {
      color: rgba(255,255,255,0.35);
      background-color: rgba(255,255,255,0.3);
      margin:auto;
      margin-left:10px;
      margin-right:10px;
      margin-bottom:40px;

    }
    .siteicon:hover {
      opacity: 0.5;
    }

  </style>

  <template>

    <paper-dialog id="alignedDialog" style = "background-color:rgba(255,255,255,0.85);" no-overlap horizontal-align="left" vertical-align="top">
        <h2 style = " font-size:12px;padding-top:5px;margin:auto;margin-top:0px;margin-bottom:5px;color:#323f4b;">Add a new website to reduce time spent on (example: www.amazon.com)</h2>
        <div style = "display: flex; margin:auto; margin-top:0px;margin-left:0px; margin-right:0px; margin-bottom:0px;padding-left:10px; padding-right:10px;padding-bottom:0px">

          <vaadin-combo-box id="add_website_input" items = "{{baseline_time_on_domains_array}}" style="display: inline-block; width:calc(100% - 78px);" item-value-path="sites" item-label-path="sites" value-changed = "add_custom_website_from_input" allow-custom-value no-label-float >
            <template>
              <paper-icon-item>
                <!--<img src="[[item.favicon]]" item-icon>-->
                <!--<img src="{{site.icon}}" item-icon>-->
                <paper-item-body>
                  <!--<div>[[website]]</div>-->
                  <div>[[item]]</div>
                </paper-item-body> 
              </paper-icon-item>
            </template>
          </vaadin-combo-box>
          <paper-button style="display: inline-block; color: white; background-color: #346da3; padding:0px; font-size: 14px; text-align: center; margin-right: 0px;margin-bottom:7px; text-transform: none; -webkit-font-smoothing: subpixel-antialiased; align-self: flex-end; margin-left: auto" on-click="add_goal_clicked">Add Goal</paper-button>
       
        </div>

    </paper-dialog>
    

    <!-- <p>HabitLab has suggested these goals based on the websites you regularly use.</p> -->
    <div id="outer_wrapper">
      <!-- <p>If you have a goal that is not specified below, please <a href="#">send us a suggestion</a> </p> -->
      <div class="card-content">
        <span><iron-icon icon="settings" style="width: 27px; height: 27px; margin:auto;margin-bottom: 9.5px;margin-right: 6px; color: white;"></span><span id= "title">{{title}}</span>  
        <div style='font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;margin: auto; font-size: 16px; margin-bottom: 30px; text-align: center; padding-left:65px; padding-right:65px;'><span>{{title_text}}</span> <span style="font-weight: 800">{{title_text_bolded_portion}}</span></div>
        <div class="flexcontainer wrap row">
        <template is="dom-repeat" items="{{sites_and_goals}}" as="site_and_goals">
            <template is="dom-if" if="{{should_have_newline(index, num_per_line)}}">
              <br/>
            </template>
            <!-- <h3>{{site_and_goals.sitename}}</h3> -->
            <template is="dom-repeat" items="{{site_and_goals.goals}}" as="goal">
              <template is="dom-if" if="{{is_goal_shown(goal)}}">
                <div style="display: inline-block; align-items: center; padding-bottom: 15px;" >

                  <div style="position: relative; top: 12.5px; left: 21px; ">
                    <div style="position: absolute">

                    <template is="dom-if" if="{{goal.enabled}}">
                    <!--<iron-icon icon="check" style="width:100px; height: 100px; margin-left: 10px; color: black; cursor: pointer" on-click="settings_goal_clicked" sitename="{{goal.sitename}}"></iron-icon>-->
                    <img style= "width:30px" on-click="settings_goal_clicked" sitename="{{goal.sitename}}" goal="{{goal}}" src="{{icon_check_url}}"></img>
                    </template>
                    </div>
                  </div>
                  <template is="dom-if" if="{{goal.enabled}}">
                  <img checked="{{goal.enabled}}" goalname="{{goal.name}}" on-click="image_clicked" class="siteicon siteiconenabled" src="{{goal.icon}}" />
                  </template>
                  <template is="dom-if" if="{{!goal.enabled}}">
                  <img checked="{{goal.enabled}}" goalname="{{goal.name}}" on-click="image_clicked" class="siteicon siteicondisabled" src="{{goal.icon}}" />
                  </template>
                  <div style='width:145px; white-space:nowrap;font-size:16px;overflow:hidden;text-overflow:ellipsis; margin:auto;text-align:center;'>{{goal.sitename_printable}}</div>
                  </template>
                </div>
              </template>
            </template>   
            <div>     
              <div style= "position: relative; top:58px; left:58px;">
                <div style ="position:absolute">
                  <img style= "width:30px;cursor: pointer; padding-left:0px;margin-left:10px;margin-top:0px;" src="{{icon_add_url}}"></img>
                </div>
              </div>

              <div class="siteicon siteiconadd" on-click="openBy"></div>



              <div>
                <template is="dom-if" if="{{!goal.enabled}}">
                <span style="font-family: monospace; font-size: 16px">Add custom goal.</span>
                </template>
                <template is="dom-if" if="{{goal.enabled}}">
                <span style="font-family: monospace; font-size: 16px">[<span>{{goal.name}}</span>]</span>
                </template>
              </div>
            </div>
            <div>  
            </div>
            <div><iron-icon icon="help" style="width: 25px; height: 25px; color: white; cursor: pointer" on-click="daily_goal_help_clicked"></iron-icon></div>        
         </template>
      </div>  
    </div>
  </template>
  <script src="initial-goal-selector.js"></script>
</dom-module>