<!-- stylesheet for the carousel-->
<!-- js for the carousel-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-carousel/paper-carousel.html">

<dom-module id="intervention-carousel">
  <template>
    <style>

    </style>

    <div class= "container">
      <market-card name = "Add Your Own" description = "Upload your own custom made nudges!"></market-card>
      <template is="dom-repeat" items="{{interventions}}" as="info">
        <market-card name = "{{info.name}}" date = "11/16/2017" description = "{{info.name}}"></market-card>
      </template>
      <!-- <market-card name = "Comment Removal" date = "11/16/2017" description = "Removes reddit comments"></market-card>
      <market-card name = "Comment Removal" date = "11/16/2017" description = "Removes reddit comments"></market-card>
      <market-card name = "Comment Removal" date = "11/16/2017" description = "Removes reddit comments"></market-card>
      <market-card name = "Comment Removal" date = "11/16/2017" description = "Removes reddit comments"></market-card>
      <market-card name = "Comment Removal" date = "11/16/2017" description = "Removes reddit comments"></market-card>
      <market-card name = "Comment Removal" date = "11/16/2017" description = "Removes reddit comments"></market-card>
      <market-card name = "Comment Removal" date = "11/16/2017" description = "Removes reddit comments"></market-card>
      <market-card name = "Comment Removal" date = "11/16/2017" description = "Removes reddit comments"></market-card>
      <market-card name = "Comment Removal" date = "11/16/2017" description = "Removes reddit comments"></market-card>
      <market-card name = "Comment Removal" date = "11/16/2017" description = "Removes reddit comments"></market-card> -->
    </div>

  </template>
  <script src="intervention-carousel.js"></script>
</dom-module>