<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="intervention-carousel.html">
<dom-module id="intervention-market">
  <template>
    <style>
       :host {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #BEDEFD;
        --paper-card: {
          width: 100%;
          padding: 10px;
          margin-top: 0px;
        };
      }
      .container {
        text-align: center;
        display: block;
        height:100% ;
        width:100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .title {
        background-color: #2E4053;
        width: 100%;
        font-size: 33px;
        color: white;
        text-transform:capitalize;
        padding-bottom:20px;
        padding-top: 20px;
      }
      .paper-card {
        background-color: white;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
      }
      .card-content {
        font-size: 20px;
      }
      body{
        font-family: sans-serif;
      }
      paper-button{
        color: #fff;
        background-color: #415D67;
        padding: 5px;
        font-size: 16px;
        text-transform: none;
        -webkit-font-smoothing: subpixel-antialiased;
      }
      #icon{
        width: 100px;
        height: 100px;
        margin-left: 20px;
        position: absolute;
        z-index: 1;
      }
      #settings{
        margin-left: calc(50% - 50px);
        margin-top: 3px;
        width: 50px;
        height: 50px;
        position: absolute;
      }

      .mySettings {
        cursor:pointer;
      }

</style>

<div class="container">
    <div class="mySettings">
      <img id = "settings" src="icons/settings_icon.png">
    </div>

  <div class="title" style="color: #ffffff">
    {{site}} custom nudges
    <img id = "icon" src="icons/store_icon.png">
  </div>

  <paper-card style="background-color:#BEDEFD">
    <div style="width:90%; display:flex">
        <!--Display Carousel-->
        <intervention-carousel site = "{{site}}" interrupt="{{interrupt}}"></intervention-carousel>
    </div>
  </paper-card>
</div>


</template>
  <script src="intervention-market.js"></script>
</dom-module>