<!-- stylesheet for the carousel-->
<!-- js for the carousel-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-carousel/paper-carousel.html">

<dom-module id="intervention-carousel">
  <template>
    <style>
      :host {
        display: block;
        width: 100%;
        height: 100%;
        background-color: white;
        --paper-card: {
          width: 100%;
          padding: 10px 20px;
          margin-top: 0px;
        }
        ;
      }
      .center{
        align-items: center;
      }
      img{
        width: 100px;
        height: 100px;
        background-color: gray;
      }

      .borders{
        border: 2px solid gray;
        border-radius: 10px;
      }

      .card{
        padding:6px;
        margin:10px;
        height:calc(100% - 40px)
      }
      
      .checked {
        color: orange;
    }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <paper-carousel items="4" responsive="600:2, 460:1" controls="true" dots="true" dotText="false">
      <div class="paper-carousel-demo-teal" style = "background-color:white; display:block">
        <div class = "card borders">
          <img>
          <br>
          <h2>Intervention Name</h2>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <h3>Date: 10/12/2017</h3>
          <p>Description: Lorem ipsum...</p>
        </div>
      </div>
      <div class="paper-carousel-demo-teal" style = "background-color:white"></div>
      <div class="paper-carousel-demo-teal" style = "background-color:white"></div>
      <div class="paper-carousel-demo-teal" style = "background-color:white"></div>
      <div class="paper-carousel-demo-teal" style = "background-color:white"></div>
      <div class="paper-carousel-demo-teal" style = "background-color:white"></div>
      <div class="paper-carousel-demo-teal" style = "background-color:white"></div>
      <div class="paper-carousel-demo-teal" style = "background-color:white"></div>      
      
    </paper-carousel>

  </template>
  <script src="intervention-carousel.js"></script>
</dom-module>