<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="intervention-carousel.html">
<link rel="import" href="profile-card.html">
<dom-module id="intervention-market">
  <template>
    <style>
       :host {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #BEDEFD;
        --paper-card: {
          width: 100%;
          padding: 10px 20px;
          margin-top: 0px;
        };
      }

      .container {
        text-align: center;
        display: block;
        height:100% ;
        width:100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .title {
        background-color: #2E4053;
        width: 100%;
        font-size: 33px;
        color: white;
        text-transform:capitalize;
        padding-bottom:20px;
        padding-top: 20px;
      }

      .paper-card {
        background-color: white;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
      }

      .card-content {
        font-size: 20px;
      }


      body{
        font-family: sans-serif;
      }

      paper-button{
        color: #fff;
        background-color: #415D67;
        padding: 5px;
        font-size: 16px;
        text-transform: none;
        -webkit-font-smoothing: subpixel-antialiased;
      }

      .search {
        width: 100%;
        position: relative
      }

      .searchTerm {
        float: left;
        width: 100%;
        border: 3px solid #51A7F9;
        padding: 5px;
        height: 20px;
        border-radius: 5px;
        outline: none;
        color: #51A7F9;
      }

      .searchTerm:focus{
        color: #51A7F9;
      }

      .searchButton {
        position: absolute;
        right: -50px;
        width: 40px;
        height: 36px;
        border: 1px solid #51A7F9;
        background: #51A7F9;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
      }

      /*Resize the wrap to see the search bar change!*/
      .wrap{
        width: 97%;
        align-items: center;
        position: relative;
        top: 50%;
        left: 48%;
        transform: translate(-50%, -50%);
        margin-bottom: 15px;
      }

      #radio-demo {
        max-width:400px;
      }

      #radio-demo input[type="radio"] {
        position: absolute;
        opacity: 0;
        -moz-opacity: 0;
        -webkit-opacity: 0;
        -o-opacity: 0;
      }

      #radio-demo input[type="radio"] + label {
        position: relative;
        padding: 0 0 0 25px;
        font-size: 16px;
        line-height: 25px;
        margin:0 0 10px 0;
      }

      #radio-demo input[type="radio"] + label:before {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        height: 14px;
        width: 14px;
        background: white;
        border: 1px solid gray;
        box-shadow: inset 0px 0px 0px 2px white;
        -webkit-box-shadow: inset 0px 0px 0px 2px white;
        -moz-box-shadow: inset 0px 0px 0px 2px white;
        -o-box-shadow: inset 0px 0px 0px 2px white;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -o-border-radius: 8px;
      }

      #radio-demo input[type="radio"]:checked + label:before {
        background: #ef8700;
      }

    </style>

    <div class="container">

      <div class="title" style="color: #ffffff">{{site}} custom nudges</div>
      <paper-card style="background-color:#BEDEFD">
        <!--Search Bar -->
        <div class="wrap">
              <div class="search">
                 <input type="text" class="searchTerm" placeholder="What are you looking for?">
                 <button type="submit" class="searchButton">
                   <i class="fa fa-search"></i>
                </button>
              </div>
        </div>
        <br><br>

        <div style = "width:100%; display:flex">
        <div style = "width:16%; border-Left:#2E4053;">
            <form id = "radio-demo">
                <input type="radio" name="sort" value="star_count" checked> <label for="star_count">Stars</label><br>
                <input type="radio" name="sort" value="user_count"> <label for="user_count">Users</label><br>
                <input type="radio" name="sort" value="date_added"> <label for="date_added">Date</label><br>
                <input type="radio" name="sort" value="name"> <label for="name">Name</label><br>
              </form>
              <br>
              <paper-button> See more nudges > </paper-button>
              <profile-card></profile-card>
        </div>
        <div style = "width:84%">
          <!--Display Carousel-->
          <intervention-carousel></intervention-carousel>
        </div>

        </div>
      </paper-card>
    </div>

    <!-- <div style="margin-bottom: 20px"></div> -->

  </template>
  <script src="intervention-market.js"></script>
</dom-module>
