<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="interstitial-screen-choose-difficulty-v2">
  <template>
    <style>
       :host {
        position: fixed;
        display: block;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #95CBEE;
        z-index: 35000000;

        --call-to-action-button-height: 38px;
        /*--call-to-action-button-font-size: 14px;*/
        --call-to-action-button-padding: 5px;
        --call-to-action-button-margin: 0px 0px 10px 0px;
      }


      .contentContainer {
        margin-top: 20x;
      }

      .titleText {

        font-size: 1.5em;
        text-align: center;
      }

      #messagetext {
        font-size: 1.3em;
        text-align: center;
      }

      .whiteDiv {
        position: fixed;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #f2fcff;
        opacity: 1;
        z-index: 35000000;
      }

      #block_container {
        text-align: center;
      }

      .difficultybutton {
        cursor: pointer;
        padding: 5px;
        background-color: #415D67;
        color: white;
        font-size: 14px;
        /* height: 38px; */
        box-shadow: 2px 2px 2px #888888;
        width: 100%;
      }

      .buttoncontainer {
        width: 100%;
        /* height: 100%; */
        text-align: center;
        padding: 10px;
      }

      .buttontop {
        font-size: 30px;
        text-transform: none;
      }

      .buttonbottom {
        font-size: 14px;
      }
    </style>



    <div class="whiteDiv">
      <div id="block_container" style="margin-top: 50px; font-size: 30px">
        How much time can you afford to spend on {{sitename}} this visit?
      </div>
      <br><br>

      <div>
      <div style="text-align: left; display: inline-block">
        <paper-button on-click="difficulty_chosen" class="difficultybutton" difficulty="nothing">
          <div class="buttoncontainer" difficulty="nothing">
            <div class="buttontop" difficulty="nothing">As much time as I want</div>
            <!-- <br difficulty="nothing">
            <div class="buttonbottom" difficulty="nothing">just track time</div> -->
          </div>
        </paper-button>
        <br><br>
        <paper-button on-click="difficulty_chosen" class="difficultybutton" difficulty="easy">
          <div class="buttoncontainer" difficulty="easy">
            <div class="buttontop" difficulty="easy">A medium length of time</div>
          </div>
        </paper-button>
        <br><br>
        <paper-button on-click="difficulty_chosen" class="difficultybutton" difficulty="medium">
          <div class="buttoncontainer" difficulty="medium">
            <div class="buttontop" difficulty="medium">A little time</div>
          </div>
        </paper-button>
        <br><br>
        <paper-button on-click="difficulty_chosen" class="difficultybutton" difficulty="hard">
          <div class="buttoncontainer" difficulty="hard">
            <div class="buttontop" difficulty="hard">Almost no time</div>
          </div>
        </paper-button>
      </div>
      </div>
    </div>

  </template>

  <script src="interstitial-screen-choose-difficulty-v2.js"></script>

</dom-module>