<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="feedback-button.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">

<dom-module id="intervention-editor">
  <style>
    :host {
      display: block;
      width: 100vw;
      height: 100vh;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      overflow-y: hidden;
    }
    #javascript_editor {
      display: inline-block;
      width: 100vw;
      height: calc(100vh - 50px);
      position: fixed;
      top: 50px;
      left: 0px;
      margin: 0;
      padding: 0;
      background-color:#D8D8D8
    }
    #topbar {
      display:inline-block;
      position: fixed; 
      left: 0px; 
      top: 0px; 
      width: 100vw; 
      height: 50px; 
      z-index: 998;
      background-color:#122438
    }
    .intervention_tab {
      /*display:inline-block;*/
      color: white;
      background-color: black;
      height:50px;
      /*position:fixed;*/
    }
    .blue_button{
      height:40px;
      z-index: 9999;
      width:40px;
    }
    #sidebar{
      padding-left: 10px; 
      padding-right: 10px; 
      padding-bottom: 10px; 
      position: fixed; 
      right: 0px; 
      top: 50px; 
      z-index: 999; 
      height: calc(100vh - 100px);
      background-color: #4279BD;
      display:inline-grid;
    }
    #bottombar {
      position:fixed;
      left:0px;
      bottom:0px;
      height:50px;
      width:100vw;
      z-index: 998;
      background-color:#122438
    }
    /*#livescript_editor {
      display: inline-block;
      width: calc(50vw - 10px);
      height: calc(100vh - 50px);
      position: fixed;
      top: 50px;
      left: 50vw;
      margin: 0;
      padding: 0;
    }*/
    .button {
      color: white;
      background-color: #50E3C2;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      height: 30px;
      box-shadow: 2px 2px 2px #888888;
      font-weight: bold;
    }
    #intervention_description{
      color: white;
    }
    
  </style>
  <template>

    <paper-dialog id="create_new_intervention_dialog" with-backdrop style="z-index: 9007;display:inline-grid;">
      <paper-dropdown-menu style="width: 300px" label="Goal">
        <paper-listbox id="goal_selector" on-iron-select="goal_selector_changed" class="dropdown-content" selected="0">
          <template is="dom-repeat" items="{{goal_info_list}}" as="goal_info">
            <paper-item goal_info="{{goal_info}}">{{goal_info.description}}</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu>
      <!--<paper-dropdown-menu style="margin-top: 0px; width: 300px" label="Select a template">
        <paper-listbox id="intervention_selector" on-iron-select="intervention_selector_changed" class="dropdown-content" selected="0">
          <template is="dom-repeat" items="{{intervention_list}}" as="intervention_name">
            <paper-item intervention_name="{{intervention_name}}">{{intervention_name}}</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu>-->
      <paper-input id="intervention_description" label="Intervention Description" value="Describe your intervention here"></paper-input>
      <paper-input id="intervention_name" label="Intervention Name" value="my_custom_intervention"></paper-input>
      <em id="hint" style="color:red;"></em><br>
      <paper-button on-click="validate_intervention_name" class="button">Add</paper-button>
    </paper-dialog>

    <paper-dialog id="open_existing_custom_intervention" with-backdrop style="z-index: 9007;">
      <paper-dropdown-menu style="margin-top: 0px; width: 300px" label="Select a custom intervention">
        <paper-listbox id="intervention_selector" on-iron-select="intervention_selector_changed" class="dropdown-content" selected="0">
          <template is="dom-repeat" items="{{intervention_list}}" as="intervention_name">
            <paper-item intervention_name="{{intervention_name}}">{{intervention_name}}</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu>
    </paper-dialog>

    <paper-card id="topbar">
      <paper-tabs id="intervention-tabs" selected="{{selected_tab_idx}}" on-iron-select="selected_intervention_tab_changed" autoselect style="position: fixed; left: 0px; top: 0px; z-index:999;height:50px; float:left;">
        <template is="dom-repeat" items="{{intervention_list}}" as="intervention_tab_name">
          <paper-tab intervention_tab_name="{{intervention_tab_name}}" class="intervention_tab">
            {{intervention_tab_name}}
          </paper-tab>
        </template>
      </paper-tabs>

      <div id = "topbar_buttons" style="float:right">
        <img src="../icons/blue-plus-icon.png" class="blue_button" on-click="plus_clicked">       
        <img src="../icons/blue-menu-icon.png" class="blue_button" on-click="hide_or_show_sidebar">
        <img src="../icons/blue-help-icon.png" class="blue_button" right="0" on-click="help_clicked">
      </div>
      <!--<div style="position: static; width: 100vw; height: 50px">
        <paper-dropdown-menu style="width: 300px; padding-top: 0px; padding-left: 10px; margin-top: -10px" label="Language">
          <paper-listbox id="language_selector" on-iron-select="language_selector_changed" class="dropdown-content" selected="0">
            <paper-item lang="js">JavaScript</paper-item>
            <paper-item lang="ls">LiveScript</paper-item>
            <paper-item lang="ls_and_js">LiveScript and JavaScript</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>

        <div style="position: absolute; top: 4px; left: 330px">
          <paper-button class="button" on-click="preview_intervention">Preview</paper-button>
          <paper-button class="button" on-click="debug_intervention">Debug</paper-button>
          <paper-button class="button" on-click="save_intervention">Save</paper-button>
          <paper-button class="button" on-click="help_clicked">Help</paper-button>
        </div>
        <paper-button class="button" style="position: absolute; top: 4px; right: 0px" on-click="show_sidebar">Show Sidebar</paper-button>
      </div>-->

    </paper-card>

    <iron-pages selected="{{selected_tab_idx}}">
      <div id="javascript_editor">
      </div>
    </iron-pages>

    <paper-card id="sidebar">   
      <!--<div style="width: 100%; margin-top: 4px">
        <paper-button class="button" on-click="hide_sidebar" style="text-align: right; width: 100%">Hide Sidebar</paper-button>
      </div>-->
      <paper-button class="button" on-click="add_new_intervention_clicked">
        Add new intervention
      </paper-button>
      <paper-button style="margin-right: 0px" class="button" on-click="delete_intervention">Delete This Intervention</paper-button>
    <!--
    <paper-input id="intervention_name" label="Intervention Name" value="custom/my_intervention"></paper-input>
    <!--<div>
      <paper-dropdown-menu style="width: 300px" label="Goal">
        <paper-listbox id="goal_selector" on-iron-select="goal_selector_changed" class="dropdown-content" selected="0">
          <template is="dom-repeat" items="{{goal_info_list}}" as="goal_info">
            <paper-item goal_info="{{goal_info}}">{{goal_info.description}}</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu>
    </div>-->

    <!--<paper-input id="intervention_domain" value="[[intervention_info.domain]]" label="Domain"></paper-input>-->
    <!--<paper-input id="intervention_preview_url" label="Preview URL" value="[[intervention_info.preview]]"></paper-input>-->

    <!--<div>

      <paper-button style="margin-right: 0px" class="button" on-click="help_clicked">Help</paper-button>
    </div>-->
    <div style="margin-top: 10px">
      <paper-button class="button" on-click="share_clicked">Share</paper-button>
      <!--<paper-button class="button" on-click="download_code">Download</paper-button>
      <feedback-button style="margin-right: 0px"></feedback-button>-->
    </div>

  </paper-card>

  <paper-card id = "bottombar">
      <paper-button class="button" on-click="preview_intervention">Preview</paper-button>
      <paper-button class="button" on-click="debug_intervention">Debug</paper-button>
      <paper-button class="button" on-click="save_intervention">Save</paper-button>
  </paper-card>

  </template>
  <script src="intervention-editor.js"></script>

</dom-module>
