<!-- stylesheet for the carousel-->
<!-- js for the carousel-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-carousel/paper-carousel.html">
<link rel="import" href="market-card.html">

<dom-module id="intervention-carousel">
  <template>
    <style>
      :host {
        display: block;
        width: 100%;
        height: 100%;
        background-color: white;
        --paper-card: {
          width: 100%;
          padding: 10px 20px;
          margin-top: 0px;
        }
        ;
      }
      .center{
        align-items: center;
      }
      img{
        width: 100px;
        height: 100px;
        background-color: gray;
      }

    </style>

    <paper-carousel items="4" responsive="600:2, 460:1" controls="true" dots="true" dotText="false" style="height:350px">
      <div class="paper-carousel-demo-teal" style = "background-color:white"><market-card name = "Comment Removal" date = "11/16/2017" description = "Removes reddit comments"></market-card></div>
      <div class="paper-carousel-demo-teal" style = "background-color:white"><market-card name = "Comment Removal" date = "11/16/2017" description = "Removes reddit comments"></market-card></div>
      <div class="paper-carousel-demo-teal" style = "background-color:white"><market-card name = "Comment Removal" date = "11/16/2017" description = "Removes reddit comments"></market-card></div>
      <div class="paper-carousel-demo-teal" style = "background-color:white"><market-card name = "Comment Removal" date = "11/16/2017" description = "Removes reddit comments"></market-card></div>
      <div class="paper-carousel-demo-teal" style = "background-color:white"><market-card name = "Comment Removal" date = "11/16/2017" description = "Removes reddit comments"></market-card></div>
      <div class="paper-carousel-demo-teal" style = "background-color:white"><market-card name = "Comment Removal" date = "11/16/2017" description = "Removes reddit comments"></market-card></div>
      <div class="paper-carousel-demo-teal" style = "background-color:white"><market-card name = "Comment Removal" date = "11/16/2017" description = "Removes reddit comments"></market-card></div>      
      
    </paper-carousel>

  </template>
  <script src="intervention-carousel.js"></script>
</dom-module>