<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="intervention-parameter-view.html">
<link rel="import" href="pill-button-group.html">
<link rel="import" href="enabledisable-intervention-all-sites.html">
<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">

<dom-module id="intervention-view-single-v2">
  <template>
    <style>
       :host {
        //display: block;
        width: 100%;
        height: 100%;
      }

      .edit-button {
        text-align: center;
        text-transform: none;
        background-color: #415D67;
        color: white;
        -webkit-font-smoothing: subpixel-antialiased;
        margin-bottom: 5px;
      }

      .uninstall-button {
        text-align: center;
        text-transform: none;
        background-color: #415D67;
        color: white;
        -webkit-font-smoothing: subpixel-antialiased;
        margin-bottom: 5px;
      }

      .try-now-button {
        text-align: center;
        text-transform: none;
        background-color: #415D67;
        color: white;
        -webkit-font-smoothing: subpixel-antialiased;
      }

      .interventions {
        width: 45px;
        margin-right: 10px;
      }

      .always_show_button[active] {
        background-color: lightblue;
      }

      .never_show_button[active] {
        background-color: lightblue;
      }
    </style>
    <div>
      <div style="width: 100%">
        <div style='padding-left: 20px; padding-right: 20px; display: flex;justify-content: space-between; align-items:center; align-content: space-around; font-family:Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 16px; vertical-align: top; padding-top: 8px'>
          <!-- <div style = "display: table-row;"> -->
          <!-- <div style= 'display:flex; align-items:center; align-content:space-around;font-family:Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; display: inline-block; font-size: 16px; vertical-align: top; padding-left: 5px; padding-top: 8px'> -->
          <div style="display: flex;width: 200px;justify-content: flex-start; align-items:center;align-content:space-around">
            <img style="align-self: auto; width:50px; border: transparent;border-radius:5px;box-shadow: 3px 3px 3px rgba(31,31,31,0.1);"
              class="interventions" src="{{get_intervention_icon_url(intervention)}}" />
              <template is="dom-if" if="{{downloaded}}">
                  <div style="align-self:auto; width:150px;border: transparent;font-weight: bold">{{intervention.displayname}} </div>
                </template>
                <template is="dom-if" if="{{!downloaded}}">
                    <div style="align-self:auto; width:150px;border: transparent;">{{intervention.displayname}} </div>
                  </template>
          </div>
          <div style="align-self:auto; border:transparent; padding: 0px 10px 0px 10px;">{{intervention.description}} </div>
          <!-- <template is="dom-if" if="{{display_internal_names_for_interventions()}}">
                <span style="font-family: monospace">[<span>{{intervention.displayname}}</span>]</span>
              </template> -->
          <!-- </div> -->

          <!-- <div style = "display: table-cell; border:transparent;" class = "buttons" style = "margin-left:auto"> -->
          <div style="margin-right: 5px; display: flex;width: 225px;justify-content: flex-start; align-items:center;align-content:space-around">
            <div style="align-self:auto; width:150px;border:transparent;">

              <pill-button-group id="pill_selector" selected_idx="{{pill_button_idx}}" on-pill-button-selected="pill_button_selected" buttons='["Off", "On"]'></pill-button-group>
              <paper-tooltip for="pill_selector" animation-delay="0">Each time you visit <span>{{sitename}}</span>,<br>HabitLab will show one of the<br>nudges turned 'On'.</paper-tooltip>
            </div>
            <template is="dom-if" if="{{downloaded}}">
              <div style="align-self:auto; vertical-align:middle; width:75px; margin-right: 10px; border: transparent;">
                <paper-button class="uninstall-button" style="height: 30px; min-width: 5.2em; font-weight: 380" on-click="delete_custom_intervention">Delete</paper-button>
                <paper-button class="try-now-button" style="height: 30px; min-width: 5.2em; font-weight: 400" on-click="preview_intervention">Try now</paper-button>
              </div>
            </template>
            <template is="dom-if" if="{{test_function(downloaded, custom)}}">
              <div style="align-self:auto; vertical-align:middle; width:75px; margin-right: 10px; border: transparent;">
                <paper-button class="edit-button" style="height: 30px; min-width: 5.2em; font-weight: 400" on-click="edit_custom_intervention">Edit</paper-button>
                <paper-button class="try-now-button" style="height: 30px; min-width: 5.2em; font-weight: 400" on-click="preview_intervention">Try now</paper-button>
              </div>
            </template>
            <template is="dom-if" if="{{!custom}}">
              <div style="align-self:auto; vertical-align:middle; width:75px; margin-right: 10px; border: transparent;">
                <paper-button class="try-now-button" style="min-width: 5.2em; font-weight: 400" on-click="preview_intervention">Try now</paper-button>
              </div>
            </template>
          </div>
          <!-- <paper-tooltip for="preview_intervention_button" animation-delay="0">Visit <span>{{sitename}}</span> with this intervention enabled</paper-tooltip> -->
          <!-- </div> -->
        </div>
      </div>


      <!-- <template is="dom-if" if="{{!compact}}">

          <div style = 'display: flex; align-items:center; align-content: space-around; font-family:Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; display: inline-block; font-size: 16px; vertical-align: top; padding-left: 5px; padding-top: 8px'>
          <div style="display: table;width: 100%;">
            <div style = "display: table-row;">
            <!-- <div style= 'display:flex; align-items:center; align-content:space-around;font-family:Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; display: inline-block; font-size: 16px; vertical-align: top; padding-left: 5px; padding-top: 8px'> -->
      <!-- <template is="dom-if" if="{{is_generic_intervention(intervention.name)}}">
                <img style = "display: table-cell; vertical-align:middle; width:50px; border: transparent;" class="interventions" src = {{get_generic_intervention_icon_url(intervention)}}></img>        
              </template>
              <template is="dom-if" if="{{!is_generic_intervention(intervention.name)}}}">
                <img style = "display: table-cell;vertical-align:middle;  width:50px; border: transparent;" class="interventions" src = {{get_intervention_icon_url(intervention.name)}}></img>        
              </template>        
              <div style = "display: table-cell;vertical-align:middle;  width:100px;border: transparent;">{{intervention.displayname}}: </div> 
              <div style = "display: table-cell;vertical-align:middle;  min-width:calc(100% - 425px); min-width:calc(100% - 425px); border:transparent;">{{intervention.description}} </div>  -->
      <!-- <template is="dom-if" if="{{display_internal_names_for_interventions()}}">
                <span style="font-family: monospace">[<span>{{intervention.displayname}}</span>]</span>
              </template> -->
      <!-- </div> -->

      <!-- <div style = "display: table-cell; border:transparent;" class = "buttons" style = "margin-left:auto"> -->
      <!-- <div style = "display: table-cell;vertical-align:middle;  width:150px;border:transparent;">
              <pill-button-group id="pill_selector" selected_idx="{{pill_button_idx}}" on-pill-button-selected="pill_button_selected" buttons='["Off", "On"]'></pill-button-group>
              <paper-tooltip for="pill_selector" animation-delay="0">Each time you visit <span>{{sitename}}</span>,<br>HabitLab will show one of the<br>'Enabled' interventions.</paper-tooltip>
              </div>
              <div style = "display: table-cell; vertical-align:middle; width:75px; border: transparent;">    
                <paper-button id="preview_intervention_button" style="text-align: right; text-transform: none; display: inline-block; background-color: #415D67; border-top: 1px #415D67 solid; border-bottom: 1px #415D67 solid; border-left: 1px #415D67 solid; border-right: 3.5px #415D67 solid; color: white; vertical-align: top; margin-top: 0px; margin-left: auto; margin-right: 0px; -webkit-font-smoothing: subpixel-antialiased" on-click="preview_intervention">Try now</paper-button>
              </div>
              <paper-tooltip for="preview_intervention_button" animation-delay="0">Visit <span>{{sitename}}</span> with this intervention enabled</paper-tooltip> -->
      <!-- </div>
          </div>
          </div>
          
        </template> -->

    </div>
    <div style="margin-left: 210px">
      <template is="dom-if" if="{{intervention.enabled_goals.length}}">
        <span>Supports your goals: </span>
        <template is="dom-repeat" items="{{intervention.enabled_goals}}" as="goal">
          <span>{{goal.description}}</span>
        </template>
        <br>
      </template>
      <template is="dom-if" if="{{parameters_shown()}}">
        <template is="dom-repeat" items="{{intervention.parameters}}" as="parameter">
          <span><intervention-parameter-view intervention="{{intervention}}" parameter="{{parameter}}"></intervention-parameter-view></span>
        </template>
      </template>
    </div>
  </template>
  <script src="intervention-view-single-v2.js"></script>
</dom-module>