<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="intervention-editor-onboard">
  <style>
    :host {
      background-color:#122438;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      overflow-y: hidden;
    }
    #outer_wrapper{ 
      width: 100vw;
      height: 100vh;
      color: white;
      padding: 20px;
      display:block;
    }
    #my_interventions_section{
      display: inline-block;
    }
    .intervention_tab{
      width:130px;
      height:130px;
      margin:10px auto;
      margin-left:10px; 
      margin-right:10px;
      border-radius:30px;
      padding: 8px;
      box-shadow: 0px 0px 15px #346da3;
      background-color:#4279BD ;
      position: relative;
      display: inline-block;
    }
    .overlay{
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0);
      transition: background 0.5s ease;      
    }
    .intervention_tab:hover .overlay {
      display: block;
      background: rgba(0, 0, 0, .3);
    }
    .item_name{
      font-weight: 100;
      font-size: 24px;
      text-align: center;
      color: white;
      z-index: 1;
      transition: top .5s ease;
      opacity:1;
      max-width:100%;
      word-wrap:break-word;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    .intervention_tab:hover .item_name{
      opacity:0;
    }
    .button_container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      opacity:0;
    }
    .button {
      color: white;
      background-color: #50E3C2;
      width:50px;
      height: 30px;
      box-shadow: 2px 2px 2px #888888;
      font-weight: bold;
      transition: opacity .35s ease;
      margin:10px;
    }
    .intervention_tab:hover .button_container{
      opacity:1;
    }
    #add_new_tab {
      cursor: pointer;
      width:130px;
      height:130px;
      margin:10px auto;
      margin-left:10px; 
      margin-right:10px;
      border-radius:30px;
      padding: 8px;
      box-shadow: 0px 0px 15px #346da3;
      background-color:#4279BD ;
      position: relative;
      float:left;     
    }
    #intervention_tab2{
      cursor: pointer;
      width: 40vw;
      height: 40vh;
    }
    #template_section{
      display:flex;
      flex-wrap:wrap;
    }
    img {
      border: none;
      max-width: 100%;
      height: auto;
      display: block;
      background: #ccc;
      transition: transform .2s ease-in-out;
    }

  </style>

  <template>
    <div id="outer_wrapper">
      <div id="my_interventions_section">
        <h1>My interventions</h1>
        <div id="add_new_tab" on-click="add_new_clicked">
          <img src="icons/plus.png" style="width:100px; height:100px;margin:15px;">
        </div>
        <div class="intervention_tab">
          <div class="item_name">my_custom_intervention</div>
          <div class="overlay"></div>
          <div class="button_container">
            <paper-button class="button" on-click="open_code">Open</paper-button>
            <paper-button class="button" on-click="preview_intervention">Preview</paper-button>
          </div>
        </div>
        <!--<template is="dom-repeat" items="{{custom_intervention_list}}" as="my_intervention">
          <div class="intervention_tab">
            <div class="item_name">{{my_intervention}}</div>
            <div class="overlay"></div>
            <div class="button_container">
              <paper-button class="button" on-click="open_code">Open</paper-button>
              <paper-button class="button" on-click="preview_intervention">Preview</paper-button>
            </div>
          </div>
        </template>-->
      </div>
      <br>

      <div id="popular_templates_section">
        <h1>Popular templates</h1>
        <div class="intervention_tab">
          <div class="item_name">template_1</div>
          <div class="overlay"></div>
          <div class="button_container">
            <paper-button class="button" on-click="open_code">Open</paper-button>
            <paper-button class="button" on-click="preview_intervention">Preview</paper-button>
          </div>
        </div>
        <template is="dom-repeat" items="{{templates_list}}" as="pop_template">
          {{pop_template}}
        </template>
      </div>
      <div class="template_section">
        <div class="intervention_tab2">
          <img src="icons/make_user_wait.png" class="screenshot" style="width:40%;height:50%;margin:10px;">
          <div class="item_name">template_1</div>
        </div>
        <div class="intervention_tab2">
          <img src="icons/make_user_wait.png" class="screenshot" style="width:40%;height:50%;margin:10px;">
          <div class="item_name">template_1</div>
        </div>
      </div>
    </div> 

  </template>

   <script src="intervention-editor-onboard.js"></script> 
</dom-module>