<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="feedback-button.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="create-intervention-dialog.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="intervention-editor">
  <style>
    :host {
      display: block;
      width: 100vw;
      height: 100vh;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      overflow-y: hidden;
    }
    .javascript_editor_div {
      display: inline-block;
      width: 100vw;
      height: calc(100vh - 100px);
      position: fixed;
      top: 50px;
      left: 0px;
      bottom: 50px;
      margin: 0;
      padding: 0;
    }
    #topbar {
      display:inline-block;
      position: fixed; 
      left: 0px; 
      top: 0px; 
      width: 100vw; 
      height: 50px; 
      z-index: 998;
      background-color:#122438;
    }
    .intervention_tab {
      /*display:inline-block;*/
      color: white;
      background-color: black;
      height:50px;
      /*position:fixed;*/
    }
    #topbar_buttons {
      float: right;
      z-index:9999;
    }
    paper-icon-button{     
      padding:0;
      height: 40px;
      width: 40px;
      margin-top: 5px;
      margin-left: 10px;
      margin-right: 5px;
      z-index: 9999;
    }
    #sidebar{
      padding-left: 10px; 
      padding-right: 10px; 
      padding-bottom: 10px; 
      position: fixed; 
      right: 0px; 
      top: 50px; 
      z-index: 999; 
      height: calc(100vh - 100px);
      background-color: #4279BD;
      display:inline-grid;
    }
    #bottombar {
      position:fixed;
      left:0px;
      bottom:0px;
      height:50px;
      width:100vw;
      z-index: 998;
      background-color:#122438
    }
    .button {
      color: white;
      background-color: #50E3C2;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      height: 30px;
      box-shadow: 2px 2px 2px #888888;
      font-weight: bold;
    }
    #intervention_description{
      color: white;
    }
    
  </style>
  <template>

    <div>
      <iron-pages selected="{{selected_tab_idx}}">
        <template is="dom-repeat" items="{{opened_intervention_list}}" as="intervention_tab_name">
          <div id="editor_{{intervention_tab_name}}" intervention_tab_name="{{intervention_tab_name}}" class="javascript_editor_div"></div>
        </template>
      </iron-pages>
    </div>

    <paper-card id="topbar">
      <paper-tabs id="intervention-tabs" selected="{{selected_tab_idx}}" autoselect style="position: fixed; left: 0px; top: 0px; z-index:999;height:50px; float:left;">
        <template is="dom-repeat" items="{{opened_intervention_list}}" as="intervention_tab_name">
          <paper-tab intervention_tab_name="{{intervention_tab_name}}" class="intervention_tab">
            {{intervention_tab_name}}
          </paper-tab>
        </template>
      </paper-tabs>

      <div id = "topbar_buttons">
        <paper-icon-button icon="folder-open" style="color:#4279BD;" on-click="open_custom_intervention_clicked"></paper-icon-button>
        <paper-icon-button icon="menu" style="color:#4279BD;" on-click="hide_or_show_sidebar"></paper-icon-button>
        <paper-icon-button icon="help-outline" style="color:#4279BD; " on-click="help_clicked"></paper-icon-button>
      </div>

    </paper-card>

    <paper-card id="sidebar">   
      <paper-icon-button icon="add-box" on-click="add_new_intervention_clicked"></paper-icon-button>
      <paper-icon-button icon="save" on-click="save_intervention"></paper-icon-button>
      <paper-icon-button icon="info" on-click="info_clicked"></paper-icon-button>
      <paper-icon-button icon="delete" on-click="delete_intervention"></paper-icon-button>
      <paper-icon-button icon="cloud" on-click="share_clicked"></paper-icon-button>
    </paper-card>

     <paper-card id = "bottombar">
      <paper-button class="button" on-click="preview_intervention">Preview</paper-button>
      <paper-button class="button" on-click="debug_intervention">Debug</paper-button>
    </paper-card>

  </template>
  <script src="intervention-editor.js"></script>

</dom-module>
