<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="habitlab-logo.html">
<link rel="import" href="habitlab-rss-message.html">
<link rel="import" href="workpages-message.html">
<link rel="import" href="goal-progress-message.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-time-picker/paper-time-picker.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="close-tab-button.html">

<dom-module id="interstitial-screen-num-visits">
  <template>
  <style>
    :host {
      position: fixed;
      display: block;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background-color: #95CBEE;
      z-index: 35000000;
    }


    .contentContainer {
      margin-top: 20x;
    }

    .titleText {
     
      font-size: 1.5em;
      text-align: center;
    }

    #messagetext {
      font-size: 1.3em;
      text-align: center;
    }

    .whiteDiv {
      position: fixed;
      display: flex;
      flex-direction: column;
      text-align: center;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background-color: #f2fcff;
      opacity: 1;
      z-index: 35000000;
    }
    .okButton {
      cursor: pointer;
      padding: 5px;
      background-color: #415D67;      
      color: white;
      font-size: 14px;
      height: 38px;
      box-shadow: 2px 2px 2px #888888;
    }
    .closeTabButton {
      cursor: pointer;
      padding: 5px;
      margin-top: 0px;
      margin-bottom: 10px; 
      font-size: 14px;
      height: 38px;
    }    
    #logo {
      margin-top: 10px;
      padding-bottom: 10px;
    }

    .message-block {
      padding-top: 20px;
      align-self: center;

    }

    #paperprogress {
      display: none;
      margin-bottom: 10px;
    }

    #block_container
  {
    text-align:center;
  }
  #today, #visits, #spent, #min, #sec, #browsing
  {
    display:inline;
  }

  </style>


    
    <div class="whiteDiv">
      	
    <div id="block_container" style="margin-top: 50px">
       <div id = "today" class=timer-text style="text-align:left; color: #415D67; font-size: 20px">Today on</div>
        <div id = "visits" style="display: inline-block; margin-right: 5px;margin-left: 5px; color:#415D67">
          <div style="font-size: 40px">{{visits}}</div>
          <div>visits</div>
        </div>
       <div id="spent" class=timer-text style="color: #415D67; font-size: 20px">you have spent</div>

      <div id = "min" style="display: inline-block; margin-right: 5px; margin-left: 5px;color: #415D67">
          <div style="font-size: 40px">{{minutes}}</div>
          <div>min</div>
        </div>
        <!--
        <div id = "sec" style="display: inline-block; margin-left: 5px; margin-right: 5px; color: #415D67">
          <div style="font-size: 40px">{{seconds}}</div>
          <div>sec</div>
        </div>
        -->
        <div id = "browsing" class=timer-text style="text-align:left; color: #415D67; font-size: 20px">browsing.</div>
    </div>

      <template is="dom-if" if="{{show_rss_message}}">
        <habitlab-rss-message class="message-block"></habitlab-rss-message>
      </template>
      <template is="dom-if" if="{{show_workpages_message}}">
        <workpages-message class="message-block"></workpages-message>
      </template>
      <center><habitlab-logo id="logo"></habitlab-logo><center>
      <center><close-tab-button id="closetabbutton" class="closeTabButton"></close-tab-button></center>

      <div class="contentContainer">
        <center><paper-progress id="paperprogress"></paper-progress></center>
        <center><paper-button id="okbutton" class="okButton" on-click="buttonclicked">OK</paper-button></center>
      </div>
    </div>

  </template>
  
  <script src="interstitial-screen-num-visits.js"></script>

</dom-module>