<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">

<dom-module id="interstitial-screen-choose-difficulty-v5">
  <template>
    <style>
       :host {
        --call-to-action-button-height: 38px;
        /*--call-to-action-button-font-size: 14px;*/
        --call-to-action-button-padding: 5px;
        --call-to-action-button-margin: 0px 0px 10px 0px;
      }


      .contentContainer {
        margin-top: 20x;
      }

      .titleText {

        font-size: 1.5em;
        text-align: center;
      }

      #messagetext {
        font-size: 1.3em;
        text-align: center;
      }

      .whiteDiv {
        position: fixed;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #f2fcff;
        opacity: 1;
        z-index: 35000000;
      }

      #block_container {
        text-align: center;
      }

      .difficultyradiogroup {
        padding: 0px;
        /* background-color: #415D67; */
        color: white;
        /* padding: 5px;
        box-shadow: 2px 2px 2px #888888;
        border-radius: 5px; */
      }

      .difficultyradio {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 25px;

        background-color: #415D67;
        width: 100%;
        color: white;
        box-shadow: 2px 2px 2px #888888;
        border-radius: 5px;

        --paper-radio-button-checked-color: red;
        --paper-radio-button-checked-ink-color: red;
        --paper-radio-button-unchecked-color: red;
        --paper-radio-button-unchecked-ink-color: red;
        --paper-radio-button-label-color: red;
      }

      .difficultybutton {
        cursor: pointer;
        padding: 5px;
        background-color: #415D67;
        color: white;
        font-size: 14px;
        /* height: 38px; */
        box-shadow: 2px 2px 2px #888888;
        width: 100%;
      }

      .buttoncontainer {
        width: 100%;
        /* height: 100%; */
        text-align: center;
        padding: 10px;
      }

      .buttontop {
        width: 430px;
        margin-top: 5px;
        text-align: center;
        color: white;
        font-size: 30px;
        text-transform: none;
      }

      .buttonbottom {
        width: 430px;
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: center;
        color: white;
        font-size: 12px;
        text-transform: uppercase;
      }

      .intervalbutton {
        margin: 5px;
        cursor: pointer;
        padding: 5px;
        background-color: #415D67;
        color: white;
        font-size: 14px;
        box-shadow: 2px 2px 2px #888888;
      }

      .intervalbuttontext {
        font-size: 20px;
        text-transform: none;
      }

      #askagaincontainer {
        /* display: none; */
      }
    </style>



    <paper-toast id="sample_toast" text="" duration="0" vertical-align="top" horizontal-align="right">
      <div style="width: 530px">
      <div id="block_container" style="width: 100%; font-size: 30px">
        <!-- Settings update: How aggressive would you like HabitLab to be in helping you reduce your time next visit?<br>
        This visit you will get the following intervention:<br>
        Feed Eater: Hides the Facebook Feed -->
        How aggressive would you like HabitLab to be in helping you reduce your time online?
      </div>
      <br><br>

      <div>
          <div style="width: 100%; text-align: left">
      <div style="width: 100%; margin-left: 0px; display: inline-block">
        <paper-radio-group id="difficultyradiogroup" class="difficultyradiogroup">
          <paper-radio-button name="nothing" class="difficultyradio">
            <div class="buttontop">Don't do anything</div>
            <div class="buttonbottom">Just track time</div>
          </paper-radio-button>
          <br><br>
          <paper-radio-button name="easy" class="difficultyradio">
            <div class="buttontop">Light touch</div>
            <div class="buttonbottom">e.g., show a timer when you visit Facebook</div>
          </paper-radio-button>
          <br><br>
          <paper-radio-button name="medium" class="difficultyradio">
            <div class="buttontop">Medium</div>
            <div class="buttonbottom">e.g., remove your Facebook feed until you click to show it</div>
          </paper-radio-button>
          <br><br>
          <paper-radio-button name="hard" class="difficultyradio">
            <div class="buttontop">Hard</div>
            <div class="buttonbottom">e.g., close the site after 60 seconds</div>
          </paper-radio-button>
        </paper-radio-group>
        </div>
        <!-- <paper-button on-click="difficulty_chosen" class="difficultybutton" difficulty="nothing">
          <div class="buttoncontainer" difficulty="nothing">
            <div class="buttontop" difficulty="nothing">Don't do anything</div>
            <br difficulty="nothing">
            <div class="buttonbottom" difficulty="nothing">just track time</div>
          </div>
        </paper-button>
        <br><br>
        <paper-button on-click="difficulty_chosen" class="difficultybutton" difficulty="easy">
          <div class="buttoncontainer" difficulty="easy">
            <div class="buttontop" difficulty="easy">Light touch</div>
            <br difficulty="easy">
            <div class="buttonbottom" difficulty="easy">e.g., show a timer when you visit Facebook</div>
          </div>
        </paper-button>
        <br><br>
        <paper-button on-click="difficulty_chosen" class="difficultybutton" difficulty="medium">
          <div class="buttoncontainer" difficulty="medium">
            <div class="buttontop" difficulty="medium">Medium</div>
            <br difficulty="medium">
            <div class="buttonbottom" difficulty="medium">e.g., remove your Facebook feed until you click to show it</div>
          </div>
        </paper-button>
        <br><br>
        <paper-button on-click="difficulty_chosen" class="difficultybutton" difficulty="hard">
          <div class="buttoncontainer" difficulty="hard">
            <div class="buttontop" difficulty="hard">Heavy handed</div>
            <br difficulty="hard">
            <div class="buttonbottom" difficulty="hard">e.g., close the site after 60 seconds</div>
          </div>
        </paper-button> -->
        <br><br>
        <div id="askagaincontainer">
        <div style="text-align: center; font-size: 30px; margin-top: 10px">Ask me again:</div>
        <br>
        <div style="width: 100%; text-align: center">
          <paper-button on-click="difficulty_chosen" class="intervalbutton" askagain="nextvisit">
            <div class="intervalbuttontext" askagain="nextvisit">Next visit</div>
          </paper-button>
          <paper-button on-click="difficulty_chosen" class="intervalbutton" askagain="nextvisit">
            <div class="intervalbuttontext" askagain="nextvisit">In 1 hour</div>
          </paper-button>
          <paper-button on-click="difficulty_chosen" class="intervalbutton" askagain="nextvisit">
            <div class="intervalbuttontext" askagain="nextvisit">In 1 day</div>
          </paper-button>
          <paper-button on-click="difficulty_chosen" class="intervalbutton" askagain="nextvisit">
            <div class="intervalbuttontext" askagain="nextvisit">In 1 week</div>
          </paper-button>
        </div>
        </div>
      </div>
      </div>
      </div>
  </paper-toast>

  </template>

  <script src="interstitial-screen-choose-difficulty-v5.js"></script>

</dom-module>
