<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<dom-module id="intervention-parameter-view">
  <style>
    :host {
      display: block;
      width: 100%;
      height: 100%;
    }
  </style>
  <template>
    <paper-input id="parameter_input" auto-validate error-message="{{get_error_message(parameter)}}" pattern="{{get_validation_pattern(parameter)}}" label="{{parameter.description}}" on-input="parameter_value_changed"></paper-input>
  </template>
  <script src="intervention-parameter-view.js"></script>
</dom-module>
