<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="habitlab-logo.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="introduction-view">

  <template>

    <style>
    </style>

    <div id="intro">Welcome to HabitLab! HabitLab is a Chrome Extension that will help prevent you from getting distracted on the web.</div>
    <div id="goals">Simply pick the goals that you would like to work on from the Goals tab, and Habitlab will try out different modifications to the site and find out which ones work best for you.</div>
    <div id="interventions">If you would like to see which interventions are active or manually enable/disable interventions, visit the Interventions tab.</div>
    <div id="results">To look at the impacts of your interventions so far and statistics on internet use, click the Results tab.</div>
    <div id="logo"></div>
    <div id="privacy"></div>


  </template>

  <script src="introduction-view.js"></script>
</dom-module>