<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="habitlab-logo.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">  
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<dom-module id="introduction-view">

  <template>

    <style>
      :host {
        
      }
      div {
        font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
        font-size: 18px;
        align-self: center;

        
      }

      #title {
        font-style: bold;
        font-size: 30px;
        font-family: 'Helvetica'
        font-color: white;
      }

      #container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-self: center; 
        width: 50%;
        padding-top: 100px;
        flex-wrap: wrap;
        margin: 0 auto 0 auto;
        background-color: #8CD4F5;

      }
      .habitlab_logo_img {
        display: inline;
        vertical-align: text-bottom;
        float: left;
        padding-right: 10px;
       
      }
      .logo {
        display: inline;
      
      }
      .logo_text {
        display: inline;
      }

      .button {
        margin-top: 20px;
        align-self: center;
      }

    </style>

    <div id="container" class="mdl-card">
      <div id="title" class="mdl-card__title">Welcome to HabitLab! </div> </br>
      <div id="intro">HabitLab is a Chrome Extension that will help prevent you from getting distracted on the web.</div><br/>
      <div id="goals">Simply pick the goals that you would like to work on from the Goals tab, and Habitlab will try out different modifications to the site and discover which ones work best for you.</div></br>
      <div id="interventions">If you would like to see which interventions are active, or manually enable/disable interventions, visit the Interventions tab.</div></br>
      <div id="results">To look at the impacts of your interventions so far and statistics on internet use, click the Results tab.</div></br>
      <div class="logo">
        <img class="habitlab_logo_img" id="habitlab_logo" class="tooltip" src="{{get_url()}}" alt="icon" />
        <span class="logo_text">This is the HabitLab logo. You will see it on every intervention inserted on your page, so you can tell which page elements are from HabitLab. When a real intervention is active, you can click to get more information about the intervention, or easily disable it.</span></div></br>
      <div id="privacy">In order to optimize the interventions shown to you, HabitLab needs to modify the webpages you visit and send data to our server about when you see and respond to those interventions.</div>

      <button class="button mdl-button">Okay</button>
    </div>

      
    <div class"logo">


  </template>

  <script src="introduction-view.js"></script>
  <script src="/bower_components/material-design-lite/material.min.js"></script>
  

</dom-module>