<!-- <link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">


<base href="https://raw-dot-custom-elements.appspot.com/PolymerElements/paper-card/v2.0.0/paper-card/">
<script src="../webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icons/communication-icons.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-styles/color.html">
<link rel="import" href="../paper-styles/typography.html">
<link rel="import" href="paper-card.html">

<dom-module id="market-card">
  :host { display: inline-block; height: 38px; cursor: pointer; }
  <template>
    <style>
       :host {
        display: inline-block;
        height: 38px;
        cursor: pointer;
      }

        body {
          display: flex;
        align-items: center;
        justify-content: center;
        }
        paper-card {
      	max-width: 500px;
        }
        .subcard-header { @apply --paper-font-headline; }
        }
        iron-icon.star:last-of-type { color: var(--paper-grey-500); }
    </style>

    <paper-card image="{{imgUrl}}">
  <div class="card-content">
    <div class="subCard-header">{{name}}
    <div class="rating">
    </div>
      <iron-icon class="star" icon="star"></iron-icon>
      <iron-icon class="star" icon="star"></iron-icon>
      <iron-icon class="star" icon="star"></iron-icon>
      <iron-icon class="star" icon="star"></iron-icon>
      <iron-icon class="star" icon="star"></iron-icon>
    </div>
    <p>{{Harshness}}</p>
  </div>
  <div class="card-actions">
    <div class="horizontal justified">
      <paper-icon-button icon="icons:event"></paper-icon-button>
      <paper-button>{{postedDate}}</paper-button>
      <paper-icon-button id = "downloadBtn">Try</paper-icon-button>
    </div>
  </div>
</paper-card>
  </template>
  <script src="market-card.js"></script>
</dom-module> -->
