<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="habitlab-logo-v2.html">
<link rel="import" href="goal-progress-message.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-time-picker/paper-time-picker.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="call-to-action-button.html">
<link rel="import" href="time-selector-dialog.html">

<dom-module id="netflix-stop-autoplay">
  <template>
    <custom-style>
      <style is="custom-style">
        :host {
          position: fixed;
          display: block;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          background-color:rgba(0,0,0,0.5) /* #f2fcff*/;
          z-index: 35000000;
          font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          font-size: 12px;
          --paper-input-container-input: {
            font-size: 28px;
            text-indent: 20px;
          }
          
        }
  
        .contentContainer {
          width:100%
          margin-top: 30px;
          align-self: center;
        }
  
        .titleText {
  
          font-size: 1.5em;
          text-align: center;
        }
  
        #messagetext {
          font-size: 1.3em;
          text-align: center;
        }
  
        .whiteDiv {
          position: fixed;
          display: flex;
          flex-direction: column;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0);
          opacity: 1;
          z-index: 35000000;
        }
  
        .okButton {
          cursor: pointer;
          padding: 5px;
          background-color:#415D67;      
          color: white;
          font-size: 14px;
          box-shadow: 2px 2px 2px #888888;
        }
  
        .closeTabButton {
          cursor: pointer;
          padding: 5px;
          margin-top: 10px;
          margin-bottom: 10px; 
          font-size: 14px;
        }
  
        
            
        #logo {
          
        }
  
        .message-block {
          padding-top:10px;
          font-size: 30px;
          align-self: center;
        }
  
        #paperprogress {
          display: none;
          margin-bottom: 10px;
        }
        #title{
          padding-top: 0px;
          padding-bottom: 0px;
          margin: auto;
          margin-top: 10px;
          margin-bottom: 0px;
          color: white;
          font-size: 30px;
          font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          /*font-weight: 250;*/
        }
  
        #time{
          padding-top: 0px;
          padding-bottom: 0px;
          color: black; 
          font-size: 40px;
          font-family: "Lucidia Grande","HelveticaNeue-Light",sans-serif; 
        }
  
        #fact-box{
          background-color:rgba(149, 203, 238, 0.95);/* #95CBEE;*/
          margin: auto;
          margin-top: 50px;
          margin-right: 350px;
          margin-left: 350px;
          padding: 2px;
        }
  
        #link{
          font-size:12px;
          font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        }
  
        #block_container
        {
          text-align:center;
        }
  
        #today, #playings, #spent, #min, #watching
        {
          display:inline;
        }
  
      </style>
    </custom-style>
    
    <div class="whiteDiv">
      
      <template is="dom-if" if="{{show_netflix_message}}">
        <netflix-articles class="message-block"></netflix-articles>
      </template>

     
        <div id = "fact-box">
          <!--<img style="width: 20px; margin: auto; padding-top: 6px; display: block; float:right; padding-right:6px" src="{{exit_url}}"></img>-->
          <center><p id = "title"> HabitLab has disabled autoplay. </p> </center>
         <div id="block_container" style="margin:auto;margin-top:5px;margin-bottom:5px">
          <div id = "today" class=timer-text style="text-align:left; color: #415D67; font-size: 20px">Today on</div>
            <div id = "playings" style="display: inline-block; margin-right: 5px;margin-left: 5px; color:#415D67">
              <div style="font-size: 40px">{{playings}}</div>
              <div>playings</div>
            </div>
            <div id="spent" class=timer-text style="color: #415D67; font-size: 20px">you have spent</div>

          <div id = "min" style="display: inline-block; margin-right: 5px; margin-left: 5px;color: #415D67">
              <div style="font-size: 40px">{{minutes}}</div>
              <div>mins</div>
          </div>
           <div id = "watching" class=timer-text style="text-align:left; color: #415D67; font-size: 20px">watching.</div>
        </div>
      
          <div style="width: 200px;height:48px;text-align:center;margin:auto; margin:auto;margin-bottom:15px;margin-top:15px;padding-top:10px;padding-bottom:18px;color:#415D67;background-color:rgba(255,255,255,0.8);border-radius:8px;padding-left:9px;padding-right:9px;padding-bottom:2px;font-size: 28px;" id="time_display"></div>
         
          <center><paper-button id="okbutton" class="okButton" on-click="buttonclicked">Continue Watching</paper-button></center>
          <div style= "display:flex;flex-direction:row;justify-content:space-between;align-items:center;align-content:center;height: 35px;width:100%;margin: auto; margin-top:20px;margin-bottom:0px";>
            <habitlab-logo-v2 style="padding-left:5px;padding-top:9px" id="logo"></habitlab-logo-v2> 
            <center><call-to-action-button id="closetabbutton" class="closeTabButton"></call-to-action-button></center>           
            
            <img style="width: 33px;padding-left: 72px; padding-right:5px;padding-top:15px" src="{{logo_url}}"></img>
          </div>
          <p></p>
        </div>
        <p></p>
        
      
    </div>

  </template>
  
  <script src="netflix-stop-autoplay.js"></script>

</dom-module>