<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="badge-display-mini.html">

<dom-module id="onboarding-badges">
  <style>
    :host {
      width: 100%;
      text-align: center;
      /*
      opacity: 1;
      width: 100vw;
      background-color: white;
      color: black;
      z-index: 9007199254740991;
      */
    }

  </style>
  <template>
    <h4>Here's what you can do with the time you've saved using HabitLab</h4>
    <br>
    <div style="display: block">
      <template is="dom-repeat" items="{{badges}}" as="badge">
        <badge-display-mini minutes_saved="{{badge.minutes_saved}}" style="display: inline-block; padding: 5px"></badge-display-mini>
      </template>
    </div>
  </template>
  <script src="onboarding-badges.js"></script>
</dom-module>
