<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/html-echo/html-echo.html">
<link rel="import" href="initial-goal-selector.html">
<link rel="import" href="positive-goal-selector.html">
<link rel="import" href="onboarding-badges.html">
<link rel="import" href="irb-dialog.html">
<link rel="import" href="idea-generation-panel.html">
<link rel="import" href="difficulty-selector.html">
<link rel="import" href="difficulty-selector-survey.html">
<link rel="import" href="sync-view.html">

<dom-module id="onboarding-view">
  <template>
    <style>
       :host {
        display: block;
        height: 100vh;
        width: 100vw;
        background-color: rgb(81, 167, 249);
        /*background-color:-webkit-linear-gradient(#9FE0F4,rgb(81,167,249));
           background-color:-o-linear-gradient(#9FE0F4,rgb(81,167,249));
           background-color:-moz-linear-gradient(#9FE0F4,rgb(81,167,249));
           background-color:linear-gradient(#9FE0F4,rgb(81,167,249));*/
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      }

      .title {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 53px;
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 3px;
        width: 100%;
      }

      .bottom-bar {
        position: fixed;
        width: 100%;
        align-items: center;
        bottom: 0px;
        /* left: 50%-100px; */
        /*left: 37%;*/
        height: 200px;
        background-color: transparent;
        z-index: 100;
      }

      .slide {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
        text-align: center;
        color: white;
        display: block;
        align-items: center;
        background-color: rgb(81, 167, 249);
        color: white;
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        margin: auto;
      }

      .inner_slide {
        width: 600px;
        height: 400px;
        display: inline-block;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }

      .prevnext_button_container {
        display: inline-table;
        text-align: center;
        width: 100%;
        height: 50%;
        vertical-align: middle;
        border: 5px solid transparent;
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        background-color: none;
      }

      .prevnext_button {
        font-size: 30px;
        text-align: center;
        background-color: rgb(60, 90, 153);
      }

      .get_started_button {
        margin-bottom: 30px;
        background-color: rgb(60, 90, 153);
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      }

      .subtext {
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      }
      /*.section {
           text-align: center;
           background-color: rgb(81, 167, 249);
           color: white;
           font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
         }*/
      /*
         .pp-scrollable {
           text-align: center;
           background-color: rgb(81, 167, 249);
           color: white;
           font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
         }*/

      .checkbox_div_outer {
        display: block;
        width: 600px;
        display: inline-block;
        text-align: center;
      }

      .checkbox_div {
        display: inline-block;
        text-align: left;
      }

      .checkbox_span {
        color: white;
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      }

      .image_frame {
        background-color: white;
        display: inline-table;
        border-radius: 20px;
        padding: 20px
      }

      .image_inner {
        max-width: 560px;
        max-height: 260px;
        display: table-cell;
        border-radius: 20px
      }

      #irb_text::-webkit-scrollbar {
        display: none;
      }

      #screen2_scroll_wrapper::-webkit-scrollbar {
        display: none;
      }

      #goal_selector::-webkit-scrollbar {
        display: none;
      }

      #screen3_scroll_wrapper::-webkit-scrollbar {
        display: none;
      }

      #positive_goal_selector::-webkit-scrollbar {
        display: none;
      }

      #screen4_scroll_wrapper::-webkit-scrollbar {
        display: none;
      }

      #badges_received::-webkit-scrollbar {
        display: none;
      }

      #screen5_scroll_wrapper::-webkit-scrollbar {
        display: none;
      }
    </style>

    <irb-dialog id="irbdialog" shown_in_context="onboarding"></irb-dialog>

    <paper-dialog id="dialog">
      <h2>Done Setting Up HabitLab!</h2>
      <p>This is the settings page, where you can manage your Nudges and track your progress.</p>
    </paper-dialog>


      <div id="screen2" slide-name="initial-goal-selector" class="slide" style="width: 100vw; height: 100vh; overflow: auto; background-color:rgb(81, 167,249)">
        <div id="screen2_scroll_wrapper" class="scroll_wrapper" style="width: 100vw; height: 100vh; overflow-y: auto; overflow-x: hidden">
          <div style="margin-bottom: 50px">
            <initial-goal-selector is_onboarding="true" id="goal_selector" on-goal_changed="rerender_onboarding_badges" />
          </div>
        </div>
      </div>

    <template is="dom-if" if="{{!difficulty_selector_disabled}}">
      <div id="screen2b" slide-name="difficulty-selector" class="slide" style="width: 100vw; height: 100vh; overflow: auto; background-color:rgb(81, 167,249)">
        <div id="screen2b_scroll_wrapper" class="scroll_wrapper" style="width: 100vw; height: 100vh; overflow-y: auto; overflow-x: hidden">
          <div style="margin-bottom: 200px">
            <template is="dom-if" if="{{regular_difficulty_selector}}">
              <difficulty-selector on-difficulty-changed="rerender_badges" is_onboarding="true" id="difficulty_selector" />
            </template>
            <template is="dom-if" if="{{!regular_difficulty_selector}}">
              <difficulty-selector-survey />
            </template>
          </div>
        </div>
      </div>
    </template>

    <template is="dom-if" if="{{!positive_goals_disabled}}">
      <div id="screen3" slide-name="positive-goal-selector" class="slide" style="width: 100vw; height: 100vh; overflow: auto; background-color:rgb(81, 167,249)">
        <div id="screen3_scroll_wrapper" class="scroll_wrapper" style="width: 100vw; height: 100vh; overflow-y: auto; overflow-x: hidden">
          <div style="margin-bottom: 100px">
            <positive-goal-selector is_onboarding="true" id="positive_goal_selector" on-goal_changed="rerender_onboarding_badges" />
          </div>
        </div>
      </div>
    </template>

    <template is="dom-if" if="{{true_statement}}">
      <div id="screen4" slide-name="onboarding-badges" class="slide" style="width: 100vw; height: 100vh; overflow: auto; background-color:rgb(81, 167,249)">
        <div id="screen4_scroll_wrapper" class="scroll_wrapper" style="width: 100vw; height: 100vh; overflow-y: auto; overflow-x: hidden">
          <div style="margin-bottom: 170px">
            <onboarding-badges id="badges_received" />
          </div>
        </div>
      </div>
    </template>

    <template is="dom-if" if="{{!signin_disabled}}">
      <div id="screen4b" slide-name="sync-view" class="slide" style="width: 100vw; height: 100vh; overflow: auto; background-color:rgb(81, 167,249)">
        <div id="screen4b_scroll_wrapper" class="scroll_wrapper" style="width: 100vw; height: 100vh; overflow-y: auto; overflow-x: hidden">
          <div style="margin-bottom: 200px">
            <sync-view on-difficulty-changed="rerender_badges" is_onboarding="true" id="difficulty_selector2" />
          </div>
        </div>
      </div>
    </template>

    <template is="dom-if" if="{{!idea_voting_disabled}}">
      <div id="screen5" class="slide" style="width: 100vw; height: 100vh; overflow: auto; background-color:rgb(81, 167,249)">
        <div id="screen5_scroll_wrapper" class="scroll_wrapper" style="width: 100vw; height: 100vh; overflow-y: auto; overflow-x: hidden">
          <div style="margin-bottom: 170px">
            <idea-generation-panel style="padding-bottom: 100px" />
          </div>
        </div>
      </div>
    </template>

    <template is="dom-if" if="{{is_not_equal_to_any(slide_idx, 0, last_slide_idx)}}">
      <div class="bottom-bar">
        <div style="display:inline-table; text-align: center;align-items:center; padding-right:20px;padding-left:0px;padding-bottom:20px; color: white; width: 100%; height: 100%">
          <div class="prevnext_button_container">
            <paper-button class="prevnext_button" on-click="prev_slide">
              <iron-icon icon="arrow-upward" style="color: white; height: 40px; width: 40px; padding-right: 5px"></iron-icon> {{msg("Previous")}}</paper-button>
          </div>
          <div class="prevnext_button_container">
            <paper-button class="prevnext_button" on-click="next_slide">
              <iron-icon icon="arrow-downward" style="color: white; height: 40px; width: 40px; padding-right: 5px"></iron-icon> {{msg("Next")}}</paper-button>
          </div>
        </div>
      </div>
    </template>

    <template is="dom-if" if="{{is_equal(slide_idx, 0)}}">
      <div class="bottom-bar">
        <div style="display:inline-table; text-align: center;align-items:center; padding-right:20px;padding-left:0px;padding-bottom:20px; color: white; width: 100%; height: 100%">
          <div class="prevnext_button_container">
            <paper-button class="prevnext_button" on-click="prev_slide" style="visibility:hidden; pointer-events:none">
              <iron-icon icon="arrow-upward" style="color: white; height: 40px; width: 40px; padding-right: 5px"></iron-icon> {{msg("Previous")}}</paper-button>
          </div>
          <div class="prevnext_button_container">
            <paper-button class="prevnext_button" on-click="next_slide">
              <iron-icon icon="arrow-downward" style="color: white; height: 40px; width: 40px; padding-right: 5px"></iron-icon> {{msg("Next")}}</paper-button>
          </div>
        </div>
      </div>
    </template>

    <template is="dom-if" if="{{is_equal(slide_idx, last_slide_idx)}}">
      <div class="bottom-bar">
        <div style="display:inline-table; text-align: center;align-items:center; padding-right:20px;padding-left:0px;padding-bottom:20px; color: white; width: 100%; height: 100%">
          <div class="prevnext_button_container">
            <paper-button class="prevnext_button" on-click="prev_slide">
              <iron-icon icon="arrow-upward" style="color: white; height: 40px; width: 40px; padding-right: 5px"></iron-icon> {{msg("Previous")}}</paper-button>
          </div>
          <div class="prevnext_button_container">
            <paper-button class="prevnext_button" on-click="onboarding_complete">
              <iron-icon icon="check" style="color: white; height: 40px; width: 40px; padding-right: 5px"></iron-icon> {{msg("Start Using HabitLab")}}
            </paper-button>
          </div>
        </div>
      </div>
    </template>

  </template>
  <script src="onboarding-view.js"></script>
</dom-module>