<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymer-themes/ice.html">

<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">

<link rel="import" href="options-goals.html">
<link rel="import" href="options-interventions.html">
<link rel="import" href="dashboard-view.html">

<dom-module id="options-view">
  <style>
    :host {
      display: block;
      width: 100%;
      height: 100%;
    }
  </style>
  <template>

    <paper-tabs id="optionstab" selected="{{selected_tab_idx}}" autoselect>
      <paper-tab>Goals</paper-tab>
      <paper-tab>Interventions</paper-tab>
      <paper-tab>Results</paper-tab>
    </paper-tabs>

    <iron-pages selected="{{selected_tab_idx}}">
      <options-goals id="options-goals"></options-goals>
      <options-interventions id="options-interventions"></options-interventions>
      <dashboard-view id="dashboard-view"></dashboard-view>
    </iron-pages>

  </template>
  <script src="options-view.js"></script>
</dom-module>
