<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymer-themes/ice.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="irb-dialog.html">

<dom-module id="options-view-v2">
  <template>
    <custom-style>
      <style is="custom-style">
         :host {
          display: block;
          width: 100%;
          height: 100%;
          --paper-card: {
            elevation: 5;
            padding: 5px;
            padding-right: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%;
            font-weight: 400;
            /*padding:0px;*/
          }
          ;
        }

        .leftside {
          width: 20%;
          margin: 0;
          padding: 0;
          display: inline-block;
          position: fixed;
          background-color: rgba(154, 154, 154, 0.36);
        }

        .rightside {
          width: 80%;
          margin: 0;
          padding: 0;
          display: inline-block;
          position: absolute;
          background-color: rgb(81, 167, 249);
          top: 0;
          left: 20%;
        }

        .papercard {
          width: calc(100% - 40px);
          margin-left: 20px;
          margin-right: 0px;
          background-color: rgb(81, 167, 249);
          color: white;
        }

        .questionicon {
          position: fixed;
          right: 9px;
          top: 9px;
        }

        paper-button.fancy {
          /*color: #8CD4F5;*/
          /*color: rgb(0,152,219);*/
          background-color: rgb(81, 167, 249);
        }

        #scrollcontainer::-webkit-scrollbar {
          display: none;
        }

        #inside_scroll::-webkit-scrollbar {
          display: none;
        }

        #outside_scroll::-webkit-scrollbar {
          display: none;
        }
      </style>
    </custom-style>

    <irb-dialog id="irbdialog" on-allow-logging-changed="allow_logging_changed" shown_in_context="settings"></irb-dialog>

    <template is="dom-if" if="{{!is_habitlab_disabled}}">

      <div>
        <!--
            <div class="leftside">
                    <div id="scrollcontainer" style="width: 100%; height: 100%; overflow-y: scroll">
                        <sidebar-tabs selected_tab_idx="{{selected_tab_idx}}" items="{{sidebar_items}}"></sidebar-tabs>
                    </div>
            </div>
            -->
        <div class="leftside">
          <div style="width: 100%; height: 100vh; overflow: hidden">
            <div id="inside_scroll" style="width: 100%; height: 100%; overflow-x: hidden; overflow-y: scroll">
              <sidebar-tabs selected_tab_idx="{{selected_tab_idx}}" items="{{sidebar_items}}"></sidebar-tabs>
            </div>
          </div>
        </div>
        <div class="rightside">
          <iron-pages selected="{{selected_tab_idx}}">
            <dashboard-view-v2 id="overview_tab"></dashboard-view-v2>
            <options-interventions id="settings_tab"></options-interventions>
            <template is="dom-repeat" items="{{enabled_goal_info_list}}" as="goal_info">
              <site-view site="{{goal_info.sitename}}" id="siteview_{{string_to_id(goal_info.sitename_printable)}}"></site-view>
              <!--
                        <div>
                            {{goal_info.sitename_printable}}
                        </div>
                        -->
            </template>
            <help-faq></help-faq>
          </iron-pages>
        </div>
      </div>

    </template>

    <template is="dom-if" if="{{is_habitlab_disabled}}">
      <div style="width: calc(100% - 20px); display: inline-block; margin: 10px;">
        <paper-card style="cursor: pointer;margin-bottom:10px; display: inline-block; width: 100%" on-click="enable_habitlab_button_clicked">
          <div style="width: 100%; margin: 10px">
            <div style="font-size: 36px; text-align: center">You've disabled HabitLab today.<br>Click to re-enable</div>
            <div style="margin: 20px; width: calc(100% - 40px); height: 300px; display: flex; justify-content: center">
              <img style="display: inline-block; width: 100%; text-align: center" src="{{get_power_icon_src()}}" />
            </div>
          </div>
        </paper-card>
      </div>
    </template>
  </template>

  <script src="options-view-v2.js"></script>

</dom-module>