<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">

<link rel="import" href="intervention-view-single.html">

<dom-module id="options-interventions">
  <style>
    :host {
      display: block;
      width: 100%;
      height: 100%;
    }
    
  </style>
  <template>
    <div style="margin: 10px">

      <h2>What goals should HabitLab help you achieve?</h2>
      <p>Please tell HabitLab your goals so that it can help you achieve them by making adjustments to websites.</p>

      <!-- <p>HabitLab has suggested these goals based on the websites you regularly use.</p> -->

      <!-- <p>If you have a goal that is not specified below, please <a href="#">send us a suggestion</a> </p> -->

      <template is="dom-repeat" items="{{sites_and_goals}}" as="site_and_goals">
        <!-- <h3>{{site_and_goals.sitename}}</h3> -->
        <template is="dom-repeat" items="{{site_and_goals.goals}}" as="goal">
          <paper-toggle-button checked="{{goal.enabled}}" goal="{{goal}}" on-change="goal_changed">
            <span>{{goal.description}}</span>
            <template is="dom-if" if="{{show_internal_names_of_goals()}}">
              (<span>{{goal.name}}</span>)
            </template>
          </paper-toggle-button>
          <br>
        </template>
      </template>

      <h2>Manage Interventions</h2>
      <!-- <img src="options-goals.png" style="width: 100%"> -->
      <p>HabitLab automatically manages your interventions by default to maximize their effectiveness. You do not need to modify any settings below. However, if you particularly like/dislike an intervention, you can set it to be permanently enabled or disabled.</p>

      <!--
      <p>If you'd like to request an intervention that isn't listed below, please <a href="#">send us a suggestion</a></p>

      <paper-checkbox>Send anonymized data about the effectiveness of interventions to researchers so we can make better interventions for you</paper-checkbox>
      <br><br>
      -->
      <template is="dom-if" if="{{show_randomize_button()}}">
        <paper-button raised style="background-color: #446E9B; color: white" on-click="select_new_interventions">Click to select a new set of randomly chosen interventions</paper-button>
        <br>
      </template>

      <template is="dom-repeat" items="{{goals_and_interventions}}" as="goal_and_interventions">
        <h3>{{goal_and_interventions.goal.description}}</h3>

        <template is="dom-repeat" items="{{goal_and_interventions.interventions}}" as="intervention">
            <intervention-view-single intervention="{{intervention}}"></intervention-view-single>
            <br><br>
        </template>

      </template>
    </div>
    
  </template>
  <script src="options-interventions.js"></script>
</dom-module>
