<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-time-picker/paper-time-picker.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="pill-button-group.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="intervention-view-single.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">

<dom-module id="options-interventions">
  <style>
    :host {
      display: block;
      width: 100%;
      height: 100%;
      font-family: 'Roboto', 'Noto', sans-serif;
      
      --paper-card: {
        elevation: 5;
        width: 70%;
        background-color: #8bc34a;

      };
      --paper-card-content: {
        font-size: 16px;
      }
    }

    .time-string {
      font-family: 'Roboto', 'Noto', sans-serif;
      font-size: 14px;
    }
    .timebox {
      border: 1px solid black;
      padding: 4px;
      margin: 3px;
      cursor: pointer;
      color: #777777;
    }
   

    
    
  </style>
  <template>
    <div style="margin: 10px">

      <h2>What goals should HabitLab help you achieve?</h2>
      <p style="font-size: 16px">Please tell HabitLab your goals so that it can help you achieve them by making adjustments to websites.</p>

      <!-- <p>HabitLab has suggested these goals based on the websites you regularly use.</p> -->

      <!-- <p>If you have a goal that is not specified below, please <a href="#">send us a suggestion</a> </p> -->

      <template is="dom-repeat" items="{{sites_and_goals}}" as="site_and_goals">
        <!-- <h3>{{site_and_goals.sitename}}</h3> -->
        <template is="dom-repeat" items="{{site_and_goals.goals}}" as="goal">
          <paper-toggle-button checked="{{goal.enabled}}" goal="{{goal}}" on-change="goal_changed">
            <span style="font-family: 'Roboto', 'Noto', sans-serif; font-size: 16px">{{goal.description}}</span>
            <template is="dom-if" if="{{show_internal_names_of_goals()}}">
              (<span style="font-family: 'Roboto', 'Noto', sans-serif; font-size: 16px">{{goal.name}}</span>)
            </template>
          </paper-toggle-button>
          <br>
        </template>
      </template>


      <template is="dom-if" if="{{have_interventions_available(goals_and_interventions)}}">
        <paper-card heading="You set a goal!"> 
          
          <div class="card-content">
          You're done setting up HabitLab! Good luck browsing productively.
          <br><br>
          Each time you visit a site, Habitlab will choose an intervention to show based on how effective it is for you. If you dislike an intervention, you can disable it below. </div>
        </paper-card>
      </template>

      <template is="dom-if" if="{{have_interventions_available(goals_and_interventions)}}">
        <h2>Manage Interventions</h2>
        <!-- <img src="options-goals.png" style="width: 100%"> -->

        <p style="font-size: 16px; margin-bottom: 0px;">You can set your interventions to be always on, or only active during your selected work hours.</p>

        <paper-radio-group selected="{{determine_selected(always_active)}}" on-change="toggle_timepicker">
          <paper-radio-button name="always" >Always On</paper-radio-button>
          <paper-radio-button name="workday">Only Work Hours</paper-radio-button>
        </paper-radio-group>

        <!--
        <pill-button-group selected_idx="{{determine_selected_idx(always_active)}}" buttons='["Always On", "Only Work Hours"]' on-pill-button-selected="toggle_timepicker_idx"></pill-button-group>
        -->



        <template is="dom-if" if="{{!always_active}}">
          <div id="timepicker">
            <span class="time-string">Interventions are only active between</span>
            <span class="time-string timebox" id="start-time" on-tap="show_dialog">{{start_time_string}}</span>
            <span class="time-string"> and </span>
            <span class="time-string timebox" id="end-time" on-tap="show_dialog">{{end_time_string}}</span>

            <paper-dialog id="start-dialog" class="paper-time-picker-dialog" modal on-iron-overlay-closed="dismiss_dialog">
              <paper-time-picker id="start-picker" time="[[start_time_string]]"></paper-time-picker>
              <div class="buttons">
                <paper-button dialog-dismiss>CANCEL</paper-button>
                <paper-button dialog-confirm>OK</paper-button>
              </div>
            </paper-dialog>

            <paper-dialog id="end-dialog" class="paper-time-picker-dialog" modal on-iron-overlay-closed="dismiss_dialog">
              <paper-time-picker id="end-picker" time="[[end_time_string]]"></paper-time-picker>
              <div class="buttons">
                <paper-button dialog-dismiss>CANCEL</paper-button>
                <paper-button dialog-confirm>OK</paper-button>
              </div>
            </paper-dialog>

          </div>
        </template>

        <!--
        <p>If you'd like to request an intervention that isn't listed below, please <a href="#">send us a suggestion</a></p>

        <paper-checkbox>Send anonymized data about the effectiveness of interventions to researchers so we can make better interventions for you</paper-checkbox>
        <br><br>
        -->

        <template is="dom-if" if="{{show_randomize_button()}}">
          <paper-button raised style="background-color: #446E9B; color: white" on-click="select_new_interventions">Click to select a new set of randomly chosen interventions</paper-button>
          <br>
        </template>

        <template is="dom-repeat" items="{{goals_and_interventions}}" as="goal_and_interventions">
          <h3>{{goal_and_interventions.goal.description}}</h3>

          <template is="dom-repeat" items="{{goal_and_interventions.interventions}}" as="intervention">
            <intervention-view-single  goal="{{goal_and_interventions.goal}}" intervention="{{intervention}}"></intervention-view-single>
            <br><br>
          </template>

        </template>
      </template>

    </div>
    
  </template>
  <script src="options-interventions.js"></script>
</dom-module>
