<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymer-themes/ice.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">

<link rel="import" href="../bower_components/chart-elements/chart-doughnut.html">
<link rel="import" href="../bower_components/chart-elements/chart-horizontal-bar.html">

<dom-module id="popup-view">
  <style is="custom-style">
    :host {
      display: block;
      width: 100%;
      height: 100%;
      
      --paper-card: {
        
        margin-bottom: 10px;
        display: block;
        padding: 0 5px 5px 5px;
      };
      
    }

    .box {
      padding: 1em;
    }

    .title {
      font-family: 'Open Sans', sans-serif;
      padding-left:0.3em;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
    }

    /* Flexbox */
    .interventionContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    #enabledInterventions {
      padding-top: 0.3em;
      padding-bottom: 0.3em;
      padding-left: 0.3em;
      
      font-family: 'Open Sans', sans-serif;
      margin: 0.3em;
      margin-top: 0.5em;

    }
    
    .feedbackcontents {
      margin: 5px;

    }

    .paperbuttons {
      --paper-button: {
        color: white;
        background-color: white;
        
      };

      --paper-button .keyboard-focus {
        font-weight: normal;
      }
    }


  </style>

  <template>
    <div>

      <div class="box">
        <paper-card>
        <div class="interventioninfo">
          <h4 class="title">Interventions Currently Active On This Page: </h4>

          <template is="dom-repeat" items="{{enabledInterventions}}" as="intervention">
            <div class="interventionContainer" id="enabledInterventions">
              <h4>{{intervention}}</h4>
              
              <paper-menu-button vertical-offset="35">
                <paper-button class="dropdown-trigger" raised>
                  <!-- <iron-icon icon="check"></iron-icon> -->
                  <span>Disable Intervention</span>
                </paper-button>
                <paper-listbox class="dropdown-content">
                  <paper-item on-click="temp_disable_button_clicked" intervention="{{intervention}}">For the Rest of the Day</paper-item>
                  <paper-item on-click="perm_disable_button_clicked" intervention="{{intervention}}">Permanently</paper-item>
                </paper-listbox>
              </paper-menu-button>            

            </div>
          </template>

          <template is="dom-if" if="{{isEmpty(enabledInterventions)}}">
            <div class="interventionContainer" id="enabledInterventions">
              <h4>None</h4>
            </div>
          </template>        

        </div>
        </paper-card>
        
        <paper-card style="display:none;" class="feedbackform">
        
        <div class="feedbackcontents">
            
            <paper-textarea id="feedback" cols="40" label="enter your thoughts here!" value="{{feedbackText}}"></paper-textarea>
            
            <paper-button raised on-click="submitFeedback">Submit</paper-button>
            
        </div>
        </paper-card>
        
        <paper-card>

        <div class="chartelement">
          <h4 class="title">Usage Statistics:</h4>
          <chart-horizontal-bar data="[[timeSavedData]]" options="[[timeSavedOptions]]" style="width: 500px"></chart-horizontal-bar>
       
        </div>
        </paper-card>
        
        
        <paper-button class="paperbuttons" raised id="goalsButton">Options</paper-button>
        <paper-button class="paperbuttons" raised id="resultsButton">More Statistics</paper-button>
        <paper-button class="paperbuttons" raised id="feedbackButton">Submit Feedback</paper-button>

        

      </div>

    </div>
  </template>
  <script src="popup-view.js"></script>
</dom-module>
