<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymer-themes/ice.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../bower_components/chart-elements/chart-doughnut.html">

<dom-module id="popup-view">
  <style>
    :host {
      display: block;
      width: 100%;
      height: 100%;
    }

    .box {
      padding: 1em;
    }

    .title {
      font-family: 'Open Sans', sans-serif;
      padding-left:0.3em;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
    }

    /* Flexbox */
    .interventionContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    #enabledInterventions {
      padding-top: 0.3em;
      padding-bottom: 0.3em;
      padding-left: 0.3em;
      border: 1px solid black;
      font-family: 'Open Sans', sans-serif;
      margin: 0.3em;
      margin-top: 0.5em;
    }

  </style>
  <template>
    <div>
      <div class="box">

        <h4 class="title">Interventions Currently Active On This Page: </h4>

        <template is="dom-repeat" items="{{enabledInterventions}}" as="intervention">
          <div class="interventionContainer" id="enabledInterventions">
            <h4>{{intervention}}</h4>
            
            <paper-menu-button vertical-offset="35">
              <paper-button class="dropdown-trigger" raised>
                <!-- <iron-icon icon="check"></iron-icon> -->
                <span>Disable Intervention</span>
              </paper-button>
              <paper-listbox class="dropdown-content">
                <paper-item on-click="temp_disable_button_clicked" intervention="{{intervention}}">For the Rest of the Day</paper-item>
                <paper-item on-click="perm_disable_button_clicked" intervention="{{intervention}}">Permanently</paper-item>
              </paper-listbox>
            </paper-menu-button>            

          </div>
        </template>

        <template is="dom-if" if="{{isEmpty()}}">
          <div class="interventionContainer" id="enabledInterventions">
            <h4>None</h4>
          </div>
        </template>        

        <h4 class="title">Usage Statistics:</h4>
        <chart-doughnut data="[[donutdata]]" style="width: 500px"></chart-doughnut>         

        <paper-button raised id="resultsButton">More Statistics</paper-button>
        <paper-button raised id="goalsButton">Options</paper-button>
        <paper-button raised id="feedbackButton">Submit Feedback</paper-button>

        <div style="display:none;" class="feedbackform">
          <form action="URL to form script" method="POST">
            
            <h4 style="padding-top:1em;">Submit Feedback:</h4> 
            <br>
            <textarea name="comments" rows="15" cols="50"></textarea><br><br>
            <input type="Submit" value="Submit">
          </form>  
        </div>

      </div>

    </div>
  </template>
  <script src="popup-view.js"></script>
</dom-module>
