<link rel="import" href="../bower_components/polymer/polymer.html">
<dom-module id="profile-card">
  <template>
    <style>
       :host {
        display: block;
        width: 90%;
        height: 360px;
        background-color: white;
        margin-left: 10px;
        margin-top: 10px;
        --paper-card: {
          width: 100%;
          padding: 10px 20px;
          margin-top: 0px;
        }
        ;
      }

      .borders{
        border: 2px solid gray;
        border-radius: 10px;
      }

      .card{
        width:100%;
        height:100%;
      }

      img{
        height:160px;
        background-color: grey;
      }

      h2{
        font-size: 13px;
      }

      h3{
        font-size: 15px;
      }

      p{
        font-size: 9px;
      }

    </style>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <div class = "card">
        <br>
        <img src="https://cdn1.iconfinder.com/data/icons/freeline/32/account_friend_human_man_member_person_profile_user_users-256.png">
        <br>
        <h2>{{name}}</h2>
        <p>Downloads: {{downloads}}</p>
        <p>Published Nudges: {{nudges}}</p>
        <p>Average Rating</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <br>
        <paper-button>Profile-Page</paper-button>

      </div>


    <!-- <div style="margin-bottom: 20px"></div> -->

  </template>
  <script src="profile-card.js"></script>
</dom-module>
