<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<dom-module id="prompt-time-spent">
  <template>
    <style>
       :host {
        display: block;
        width: 100%;
        height: 100%;
      }

      .helloworld {
        background-color: yellow;
      }

      .helloworld_button {
        background-color: red;
      }
    </style>

    <div class="helloworld" on-click="clicked">Hello world example</div>
    <!--<paper-button>Click me</paper-button>-->
    <paper-input style="background-color: red"></paper-input>

  </template>
  <script src="prompt-time-spent.js"></script>
</dom-module>