<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="quote-message">

  <template>
    <custom-style>
      <style is="custom-style">
        .container-block {
          max-width: 600px;
          min-width: 400px;
          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          vertical-align: center;
          text-align: left;
          border-color: #000000;
          border-style: solid;
          border-width: 2px;
          /*background-color: #95CBEE; or white, or rgb (0,155,55) */
          /*box-shadow: 2px 2px 2px #888888;*/
        }
      </style>
    </custom-style>

    <div class="container-block">
      <h3 id="quote-text">"{{quote.text}}"</h3>
      <h3 id="quote-source"> - {{quote.source}}</h3>
    </div>
  </template>
  <script src="quote-message.js"></script>
</dom-module>