<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="call-to-action-button.html">
<link rel="import" href="habitlab-logo-v2.html">

<dom-module id="removed-clickbait-message">
  <template>
    <style>
       :host {
        display: inline-block;
      }

      #displayText {
        background-color: #95CBEE;
        fill-opacity: 0.5;
        color: #415D67;
        width: 500px;
        height: 120px;
        z-index: 99;
        font-size: 1em;
        padding: 3px;
      }

      .habitlab_button_container {
        margin-top: 20px;
      }
      /*call-to-action-button {
            box-shadow: 2px 2px 2px grey;
            width: 100px;
            height: 38px;
            margin-right: 10px;
          }*/
    </style>

    <div id="displayText">
      <div class="habitlab_button_container" style="text-align: center">
        <span style="font-size: 20px;">HabitLab has removed clickbait</span>
        <div style="margin-top: 18px;display:flex;align-content:space-around;align-items:center;justify-content:center;">
          <call-to-action-button style="margin-right: 15px; height: 40px"></call-to-action-button>
          <habitlab-logo-v2 style="height: 40px"></habitlab-logo-v2>
        </div>
      </div>
    </div>
  </template>

  <script src="removed-clickbait-message.js"></script>
</dom-module>