<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="reward-display.html">
<link rel="import" href="number-count-up.html">
<link rel="import" href="star-display.html">

<link rel="import" href="reward-display-playgif.html">

<dom-module id="reward-display">
  <style>
    :host {
      position: fixed;
      top: 0%;
      left: 0%;
      display: none;
      opacity: 0;
      width: 100vw;
      height: 100vh;
      background-color: black;
      z-index: 9007199254740991; /* Number.MAX_SAFE_INTEGER */
    }
  </style>
  <template>
    <reward-display-playgif id="playgif"></reward-display-playgif>
  </template>
  <script src="reward-display.js"></script>
</dom-module>
