<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="sidebar-tabs">

<style>

.tab_elem {
  background-color: #7EAFEA;
  color: #fff;
  width: 100%;
  height: 80px;
  text-align: center;
  font-size: 35px;
  font-weight: 200;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.tab_elem:hover {
  cursor: pointer;
  background-color: #23466E;
}

.vertical_align {
	display: flex;
	align-items: center;
}

.horizontal_align {
	margin: auto;
	display: block;
}

.hta {
	text-align: center;
}

.selected {
  background-color: #23466E;
}

</style>

<template>

  <template is="dom-repeat" items="{{items}}" as="item">
    <template is="dom-if" if="[[is_equal(index, selected_tab_idx)]]">
      <div class="tab_elem vertical_align selected" on-click="tab_elem_selected" name="{{item}}" idx="{{index}}">
        <img src="{{item.icon}}" style="width: 40px; height: 40px; margin-right: 15px; margin-left: 15px; pointer-events: none" />
        {{item.name}}
      </div>
    </template>
    <template is="dom-if" if="[[is_not_equal(index, selected_tab_idx)]]">
      <div class="tab_elem vertical_align" on-click="tab_elem_selected" name="{{item}}" idx="{{index}}">
        <img src="{{item.icon}}" style="width: 40px; height: 40px; margin-right: 15px; margin-left: 15px; pointer-events: none" />
        {{item.name}}
      </div>
    </template>
  </template>

</template>

<script src="sidebar-tabs.js"></script>

</dom-module>
