<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="toast-test-widget">
  <template>
    <style>
      .yellow-button {
        text-transform: none;
        color: #eeff41;
      }
    </style>
    <paper-toast id="sample_toast" text="Hello World aslgkjsaglkjsalgkj asljlkj lasdg v2" duration="0" vertical-align="top" horizontal-align="right">
      <paper-button id="sample_toast_close_button" class="yellow-button">Close</paper-button>
    </paper-toast>
  </template>
  <script src="toast-test-widget.js"></script>
</dom-module>