<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="update-check">
  
  <template>

    <style>
      .card-content {
      font-size: 20px;
    }

    </style>

    <div class="card-content">
      <div>You are running HabitLab version {{current_version}}</div>
      <template is="dom-if" if="{{devmode}}">
        <div>You are running HabitLab in developer mode.</div>
        <div>To get updates, uninstall HabitLab and <a href="https://habitlab.github.io/chrome">install the stable release</a></div>
      </template>
      <template is="dom-if" if="{{preview}}">
        <div>You are running a preview release of HabitLab.</div>
        <div>If having issues, uninstall and switch to the <a href="https://habitlab.github.io/chrome">stable release</a></div>
      </template>
      <template is="dom-if" if="{{unofficial}}">
        <div>You are running an unofficial release.</div>
        <div>To get updates, uninstall HabitLab and <a href="https://habitlab.github.io/chrome">install the stable release</a></div>
      </template>
        <template is="dom-if" if="{{is_update_available}}">
          <div>A new version of HabitLab is available ({{available_update_version}})</div>
          <br>
          <paper-button style="color: white; background-color: #415D67;" on-click="install_update_now">Update HabitLab</paper-button>
        </template>
        <template is="dom-if" if="{{official}}">
          <template is="dom-if" if="{{!is_update_available}}">
            <div>You are running the latest version of HabitLab</div>
          </template>
        </template>
      </template>
    </div>
  </template>
  <script src="update-check.js"></script>
</dom-module>
