<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="habitlab-logo.html">
<link rel="import" href="close-tab-button.html">

<dom-module id="video-overlay">
  
  <template>

    <style>
      :host {
        background-color: red;
      }
    </style>

    <div style="background-color: red">
      <habitlab-logo id="logo"></habitlab-logo><br/>
      <close-tab-button id="close_button"></close-tab-button>
    </div>

  </template>
  <script src="video-overlay.js"></script>
</dom-module>
