<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">

<dom-module id="workpages-message">
  <template>

    <custom-style>
      <style is="custom-style">
         :host {
          --paper-item: {
            font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-size: 13px;
            overflow: hidden;
            white-space: nowrap;
            display: block;
            text-overflow: ellipsis;
          }
          ;
          --paper-item-min-height: 36px;
        }


        #rsscontainer {
          width: 380px;
          height: 240px;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #95CBEE;
        }

        #rsstitle {
          padding-top: 15px;
          margin-bottom: 15px;
          font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          font-size: 20px;
          color: #415D67;
          padding-left: 10px;
          padding-right: 10px;
        }

        .linktext {

          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          width: 350px;
          display: block;
        }

        a {
          overflow: hidden;
          white-space: nowrap;
          width: 350px;
          text-overflow: ellipsis;
          display: block;
        }
      </style>
    </custom-style>

    <div id="rsscontainer">
      <div id="rsstitle">Work sites you've visited recently</div>

      <template is="dom-repeat" items="{{links}}">
        <div class="linktext">
          <img src="https://www.google.com/s2/favicons?domain_url={{item}}" style="width: 32px; height: 32px; display: inline-block"
          />

          <a href="http://{{item}}" on-click="link_clicked" style="display: inline-block">
            <paper-item>{{item}}</paper-item>
          </a>
        </div>
      </template>
    </div>
  </template>
  <script src="workpages-message.js"></script>
</dom-module>