  #bugmuncher_button {
      display: block;
      position: fixed;
      z-index: 999999;
      cursor: pointer;
      -webkit-transition: none !important;
      transition: none !important
  }
  #bugmuncher_button:hover {
      text-decoration: none
  }
  #bugmuncher_button .bm_flat_bottom {
      -webkit-border-bottom-left-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-bottomright: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: none
  }
  #bugmuncher_button .bm_flat_top {
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-top: none
  }
  #bugmuncher_button.bm_legacy {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background: #f0f0f0;
      color: #000;
      font-size: 14px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      padding: 6px 10px 4px 10px;
      text-decoration: none;
      text-align: center;
      border: solid 2px #000;
      -moz-box-shadow: 0 0 1px #000;
      -webkit-box-shadow: 0 0 1px #000;
      box-shadow: 0 0 1px #000;
      -webkit-border-bottom-left-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-bottomright: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: none;
      bottom: 0
  }
  #bugmuncher_button.bm_legacy.bm_left {
      left: 2%
  }
  #bugmuncher_button.bm_legacy.bm_right {
      right: 2%
  }
  #bugmuncher_button.bm_legacy:hover {
      padding-bottom: 6px
  }
  #bugmuncher_button.bm_modern {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      color: #fff
  }
  #bugmuncher_button.bm_modern span {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      display: inline-block;
      border-width: 1px;
      border-style: solid;
      margin: 1px;
      padding: 5px 10px;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      text-align: center;
      line-height: 1.3em
  }
  #bugmuncher_button.bm_modern.bm_label {
      -webkit-transform: rotate(270deg) !important;
      -moz-transform: rotate(270deg) !important;
      -ms-transform: rotate(270deg) !important;
      -o-transform: rotate(270deg) !important;
      transform: rotate(270deg) !important
  }
  #bugmuncher_button.bm_modern.bm_label span {
      letter-spacing: .04em
  }
  #bugmuncher_button.bm_modern.bm_label.bm_right {
      -webkit-transform-origin: right bottom !important;
      -moz-transform-origin: right bottom !important;
      -ms-transform-origin: right bottom !important;
      -o-transform-origin: right bottom !important;
      transform-origin: right bottom !important;
      -webkit-border-bottom-left-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-bottomright: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: none;
      bottom: 60%;
      right: 0
  }
  #bugmuncher_button.bm_modern.bm_label.bm_right span {
      -webkit-border-bottom-left-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-bottomright: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: none;
      margin-bottom: 0
  }
  #bugmuncher_button.bm_modern.bm_label.bm_right span:hover {
      padding-bottom: 7px
  }
  #bugmuncher_button.bm_modern.bm_label.bm_left {
      -webkit-transform-origin: left top !important;
      -moz-transform-origin: left top !important;
      -ms-transform-origin: left top !important;
      -o-transform-origin: left top !important;
      transform-origin: left top !important;
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-top: none;
      top: 50%;
      left: 0
  }
  #bugmuncher_button.bm_modern.bm_label.bm_left span {
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-top: none;
      margin-top: 0
  }
  #bugmuncher_button.bm_modern.bm_label.bm_left span:hover {
      padding-bottom: 5px;
      padding-top: 7px
  }
  #bugmuncher_button.bm_modern.bm_label.bm_ie_7.bm_right span,
  #bugmuncher_button.bm_modern.bm_label.bm_ie_8.bm_right span {
      filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3)
  }
  #bugmuncher_button.bm_modern.bm_label.bm_ie_7.bm_right:hover,
  #bugmuncher_button.bm_modern.bm_label.bm_ie_8.bm_right:hover {
      padding-right: 2px
  }
  #bugmuncher_button.bm_modern.bm_label.bm_ie_7.bm_right:hover span,
  #bugmuncher_button.bm_modern.bm_label.bm_ie_8.bm_right:hover span {
      padding-bottom: 5px
  }
  #bugmuncher_button.bm_modern.bm_label.bm_ie_7.bm_left,
  #bugmuncher_button.bm_modern.bm_label.bm_ie_8.bm_left {
      filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3)
  }
  #bugmuncher_button.bm_modern.bm_tab {
      -webkit-border-bottom-left-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-bottomright: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: none;
      bottom: 0
  }
  #bugmuncher_button.bm_modern.bm_tab.bm_left {
      left: 2%
  }
  #bugmuncher_button.bm_modern.bm_tab.bm_right {
      right: 2%
  }
  #bugmuncher_button.bm_modern.bm_tab span {
      -webkit-border-bottom-left-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-bottomright: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: none;
      margin-bottom: 0
  }
  #bugmuncher_button.bm_modern.bm_tab span:hover {
      padding-bottom: 7px
  }
  #bugmuncher_button._bm_label_style {
      -webkit-transform: rotate(270deg) !important;
      -moz-transform: rotate(270deg) !important;
      -ms-transform: rotate(270deg) !important;
      -o-transform: rotate(270deg) !important;
      transform: rotate(270deg) !important
  }
  #bugmuncher_button._bm_label_style span {
      letter-spacing: .04em
  }
  #bugmuncher_button._bm_label_style.bm_right {
      -webkit-transform-origin: right bottom !important;
      -moz-transform-origin: right bottom !important;
      -ms-transform-origin: right bottom !important;
      -o-transform-origin: right bottom !important;
      transform-origin: right bottom !important;
      -webkit-border-bottom-left-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-bottomright: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: none;
      bottom: 60%;
      right: 0
  }
  #bugmuncher_button._bm_label_style.bm_right span {
      -webkit-border-bottom-left-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-bottomright: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: none;
      margin-bottom: 0
  }
  #bugmuncher_button._bm_label_style.bm_right span:hover {
      padding-bottom: 7px
  }
  #bugmuncher_button._bm_label_style.bm_left {
      -webkit-transform-origin: left top !important;
      -moz-transform-origin: left top !important;
      -ms-transform-origin: left top !important;
      -o-transform-origin: left top !important;
      transform-origin: left top !important;
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-top: none;
      top: 50%;
      left: 0
  }
  #bugmuncher_button._bm_label_style.bm_left span {
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-top: none;
      margin-top: 0
  }
  #bugmuncher_button._bm_label_style.bm_left span:hover {
      padding-bottom: 5px;
      padding-top: 7px
  }
  #bugmuncher_button._bm_label_style.bm_ie_7.bm_right span,
  #bugmuncher_button._bm_label_style.bm_ie_8.bm_right span {
      filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3)
  }
  #bugmuncher_button._bm_label_style.bm_ie_7.bm_right:hover,
  #bugmuncher_button._bm_label_style.bm_ie_8.bm_right:hover {
      padding-right: 2px
  }
  #bugmuncher_button._bm_label_style.bm_ie_7.bm_right:hover span,
  #bugmuncher_button._bm_label_style.bm_ie_8.bm_right:hover span {
      padding-bottom: 5px
  }
  #bugmuncher_button._bm_label_style.bm_ie_7.bm_left,
  #bugmuncher_button._bm_label_style.bm_ie_8.bm_left {
      filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3)
  }
  #bugmuncher_button._bm_tab_style {
      -webkit-border-bottom-left-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-bottomright: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: none;
      bottom: 0
  }
  #bugmuncher_button._bm_tab_style.bm_left {
      left: 2%
  }
  #bugmuncher_button._bm_tab_style.bm_right {
      right: 2%
  }
  #bugmuncher_widget_iframe {
      background: none;
      z-index: 99999999;
      -webkit-transition: none !important;
      transition: none !important;
      -webkit-transform: none !important;
      -moz-transform: none !important;
      -ms-transform: none !important;
      -o-transform: none !important;
      transform: none !important
  }